#admin_reply.mb-3.mt-3
  = form_for([@support_issue, @support_reply]) do |form|
    = render 'error_messages', object: @support_reply, object_name: 'this reply'
    - if SiteSetting.rich_text_support_replies?
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@support_reply.id}", "data-record-type" => "SupportReply"}
        = form.rich_text_area :rich_text_body, class: "form-control"+ input_class
    - else
      .mb-3
        = form.text_area :body, class: "form-control form-control-sm"+ input_class
    .mb-3
      = form.submit "Reply to User", class: "btn btn-primary btn-sm"
