- provide(:title, 'Support Issues')
.container-xxl.g-0
  %h1 Support Issues
  %div{:class => "card #{card_class}"}
    .card-body
      .table-responsive
        %table#support_issues{:class => "table#{table_class} table-hover mb-5"}
          %thead
            %tr
              %th.text-center{:scope => "col"} User
              %th.text-center{:scope => "col"} Status
              %th.text-center{:scope => "col"} Details
              %th.text-center{:scope => "col"} Reply
          %tbody
            - @support_issues.each do |support_issue|
              %tr{:id => "#{dom_id support_issue}"}
                %td.text-break{:style => "width: 25%"}
                  %strong
                    - if !support_issue.creator.nil?
                      = link_to support_issue.creator_handle,               |
                        user_path(support_issue.creator), class: link_class |
                    - else
                      [Deleted User Account]
                  %br/
                  = support_issue.user_email
                  %br/
                  %small
                    Submitted #{record_created(support_issue)}
                %td.text-center
                  - if support_issue.addressed
                    %span.badge.bg-light.text-dark RESOLVED
                  - else
                    %span.badge.bg-dark.bg-light OPEN
                %td.text-break
                  = link_to support_issue, class: link_class do
                    %strong<>
                      #{support_issue.display_name}
                    \: #{support_issue.summary}
                  %br/
                  - if !support_issue.body.nil?
                    = support_issue.body.truncate(300)
                    - if support_issue.body.length > 300
                      = link_to "See more", support_issue, class:  link_class
                  - else
                    = strip_tags(support_issue.rich_text_body.to_plain_text).truncate(300)
                    - if strip_tags(support_issue.rich_text_body.to_plain_text).length > 300
                      = link_to "See more", support_issue, class: link_class
                %td.text-center
                  - if !support_issue.addressed
                    = link_to("Reply", support_issue_path(support_issue, :anchor => "reply"), class: "btn btn-primary btn-sm")
                  - else
                    = link_to("Note", support_issue_path(support_issue, :anchor => "reply"), class: "btn btn-primary btn-sm")
  = will_paginate @support_issues, list_classes: %w(pagination pagination-sm justify-content-center mt-4)
