- provide(:title, 'Contact Us')
.container-xxl.g-0
  %h1 Contact Us
  %div{:class => "card #{card_class}"}
    .card-body
      = form_with(model: @support_issue, method: :post) do |form|
        = render 'error_messages', object: @support_issue, object_name: 'this support issue'
        .mb-3
          = form.label :summary, style: "display: block", class: "form-label"
          = form.text_field :summary, class: "form-control form-control-sm" + input_class
        - if SiteSetting.rich_text_support_issues?
          #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@support_issue.id}", "data-record-type" => "SupportIssue"}
            = form.label "Details", style: "display: block", class: "form-label"
            = form.rich_text_area :rich_text_body, class: "form-control"+ input_class
        - else
          .mb-3
            = form.label "Details", style: "display: block", class: "form-label"
            = form.text_area :body, class: "form-control form-control-sm"+ input_class
        .mb-3
          = form.submit "Submit", class: "btn btn-primary btn-sm"
  %br/
