- provide(:title, 'Support Issue')
.container-xxl.g-0
  %h1
    #{@support_issue.display_name}
  %div{:class => "card #{card_class}"}
    .card-body
      .mb-3{:id => "#{dom_id @support_issue}"}
        .mb-3
          - if current_user.admin
            = render 'status_form', support_issue: @support_issue
          %strong From:
          - if !@support_issue.creator.nil?
            = link_to @support_issue.creator_handle,               |
              user_path(@support_issue.creator), class: link_class |
          - else
            [Deleted User Account]
          (#{@support_issue.user_email})
        .mb-3.text-break
          %strong Summary:
          = @support_issue.summary
        .mb-3
          %strong Submitted:
          = record_created(@support_issue)
        .mb-3
          %strong Status:
          - if @support_issue.addressed
            %span.badge.bg-light.text-dark RESOLVED
          - else
            %span.badge.bg-dark.bg-light OPEN
        .mb-3.text-break
          - if !@support_issue.body.nil?
            = @support_issue.body
          - else
            = @support_issue.rich_text_body
        %hr/
        - if !@all_comments.empty?
          .table-responsive
            %table#all_comments{:class => "table table-hover mb-3#{table_class}"}
              %tbody
                - @all_comments.each do |comment|
                  - if comment.is_a?(SupportReply)
                    = render 'support_replies/support_reply', support_reply: comment
                  - elsif comment.is_a?(SupportComment)
                    = render 'support_comments/support_comment', support_comment: comment
                  - elsif comment.is_a?(SupportNote)
                    = render 'support_notes/support_note', support_note: comment
        #reply.mb-3
          - if @support_issue.user_id == current_user.id
            %ul#myTab.nav.nav-tabs{:role => "tablist"}
              %li.nav-item{:role => "presentation"}
                %button#home-tab{"aria-controls" => "home-tab-pane", "aria-selected" => "true", :class => "nav-link active#{link_class}", "data-bs-target" => "#home-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                  REPLY TO ADMINS
              - if current_user.admin
                %li.nav-item{:role => "presentation"}
                  %button#contact-tab{"aria-controls" => "contact-tab-pane", "aria-selected" => "false", :class => "nav-link#{link_class}", "data-bs-target" => "#contact-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                    VIEW STATUS HISTORY
            #myTabContent.tab-content
              #home-tab-pane.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel", :tabindex => "0"}
                = render 'support_comments/form', support_comment: [@support_issue, @support_comment]
              #contact-tab-pane.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel", :tabindex => "0"}
                = render 'view_status_history', support_issue: @support_issue
          - else
            %ul#myTab.nav.nav-tabs{:role => "tablist"}
              - if !@support_issue.addressed && !@support_issue.creator.nil?
                %li.nav-item{:role => "presentation"}
                  %button#home-tab{"aria-controls" => "home-tab-pane", "aria-selected" => "true", :class => "nav-link active#{link_class}", "data-bs-target" => "#home-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                    REPLY TO USER
                %li.nav-item{:role => "presentation"}
                  %button#profile-tab{"aria-controls" => "profile-tab-pane", "aria-selected" => "false", :class => "nav-link#{link_class}", "data-bs-target" => "#profile-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                    MAKE INTERNAL NOTE
              - else
                %li.nav-item{:role => "presentation"}
                  %button#profile-tab{"aria-controls" => "profile-tab-pane", "aria-selected" => "false", :class => "nav-link active#{link_class}", "data-bs-target" => "#profile-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                    MAKE INTERNAL NOTE
              - if current_user.admin
                %li.nav-item{:role => "presentation"}
                  %button#contact-tab{"aria-controls" => "contact-tab-pane", "aria-selected" => "false", :class => "nav-link#{link_class}", "data-bs-target" => "#contact-tab-pane", "data-bs-toggle" => "tab", :role => "tab", :type => "button"}
                    VIEW STATUS HISTORY
            #myTabContent.tab-content
              - if !@support_issue.addressed && !@support_issue.creator.nil?
                #home-tab-pane.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel", :tabindex => "0"}
                  = render 'support_replies/form', support_reply: [@support_issue, @support_reply]
                #profile-tab-pane.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel", :tabindex => "0"}
                  = render 'support_notes/form', support_note: [@support_issue, @support_note]
              - else
                #profile-tab-pane.tab-pane.fade.show.active{"aria-labelledby" => "profile-tab", :role => "tabpanel", :tabindex => "0"}
                  = render 'support_notes/form', support_note: [@support_issue, @support_note]
              - if current_user.admin
                #contact-tab-pane.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel", :tabindex => "0"}
                  = render 'view_status_history', support_issue: @support_issue
