- provide(:title, 'About')
.container-xxl.g-0
  %h1 About
  %div{:class => "card #{card_class}"}
    .card-body
      %p This application is for creating calendars, flashcards, and sticky notes that can be displayed publicly, internally to logged in users, or privately to the user that created them. Users may collaborate on study materials by creating groups and giving them edit/view permissions to chosen resources, specifying individual collaborators for each resource, or by following/chatting with other users. Finally, users can organize their items and search for new items through tags.
      %p The Devise gem provides user registration and user sessions. Built on top of Devise is an admin interface for managing users. Users can set a password or sign in through their Google account with OAuth. Users may also select a username and avatar for public display along with some site preferences including the timezone and if other users can see who they are following.
      %p In the site settings, admins can decide if users are allowed to sign up for the application or if they need to be created through the admin interface only. Admins can also select a default avatar image, logo, and site name from the site settings.
      %p A basic support issue tracker can be enabled to allow users to submit feedback and issues to admins. Admins can reply, add internal notes, and resolve these issues.
      %p Admins can also disable follow and chat functionality for users.
      %p Dark mode is available for users.
      %p In the development environment, admins can login as other confirmed users.
      %p
        %strong Source code:
        %a{:class => link_class, :href => "https://gitlab.com/endtoendpaper/study-notes"} https://gitlab.com/endtoendpaper/study-notes
      %h5 Permissions
      %ul
        %li= link_to "Calendars", about_path(:anchor => 'calendar_permissions'), class: link_class
        %li= link_to "Decks", about_path(:anchor => 'deck_permissions'), class: link_class
        %li= link_to "Direct Messages", about_path(:anchor => 'direct_msg_permissions'), class: link_class
        %li= link_to "Groups", about_path(:anchor => 'groups_permissions'), class: link_class
        %li= link_to "Group Chats", about_path(:anchor => 'group_chat_permissions'), class: link_class
        %li= link_to "Notes", about_path(:anchor => 'note_permissions'), class: link_class
      %br/
      %h2#calendar_permissions Calendar Permissions
      .table-responsive
        %table#calendar-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Owner
              %th Collaborator
              %th Group Member
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td Create Calendars
              %td x
              %td
              %td
              %td
              %td x
              %td
            %tr
              %td View/Search Public Calendars/Events
              %td x
              %td x
              %td x
              %td x
              %td x
              %td x
            %tr
              %td View/Search Internal Calendars/Events
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td View/Search Private Calendars/Events
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Calendars
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Tags
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Collaborators
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Collaborators
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Edit Groups
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Groups
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Change Owners
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td Delete Calendars
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td View Collaboration Logs
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Star Calendars
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Add Events
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Events
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Delete Events
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td Add Recurring Events
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Recurring Events
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Delete Recurring Events
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td Edit Recurring Event Exceptions
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td View All User's Events
              %td
              %td
              %td
              %td
              %td x
              %td
      %h2#deck_permissions Deck Permissions
      .table-responsive
        %table#deck-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Owner
              %th Collaborator
              %th Group Member
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td Create Decks
              %td x
              %td
              %td
              %td
              %td x
              %td
            %tr
              %td View/Search Public Decks/Cards
              %td x
              %td x
              %td x
              %td x
              %td x
              %td x
            %tr
              %td View/Search Internal Decks/Cards
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td View/Search Private Decks/Cards
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Decks
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Tags
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Collaborators
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Collaborators
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Edit Groups
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Groups
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Change Owners
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td Delete Decks
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td View Collaboration Logs
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Star Decks
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Add Cards
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Cards
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Delete Cards
              %td x
              %td x
              %td
              %td
              %td
              %td
      %br/
      %h2#direct_msg_permissions Direct Message Chat Permissions (If Chat enabled in Site Settings)
      .table-responsive
        %table#group-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Chat Participant
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td View Chat Messages
              %td
              %td x
              %td
              %td
            %tr
              %td Send Chat Messages
              %td
              %td x
              %td
              %td
      %br/
      %h2#groups_permissions Group Permissions
      .table-responsive
        %table#group-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Owner
              %th Group Member
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td Create Groups
              %td x
              %td
              %td
              %td x
              %td
            %tr
              %td View Group Information
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Edit Group Information
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Members
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Change Owners
              %td x
              %td x
              %td
              %td
              %td
            %tr
              %td View Membership Logs
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Delete Groups
              %td x
              %td x
              %td
              %td
              %td
      %br/
      %h2#group_chat_permissions Group Chat Permissions (If Chat enabled in Site Settings)
      .table-responsive
        %table#group-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Group Member
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td View Chat Messagess
              %td
              %td x
              %td
              %td
            %tr
              %td Send Chat Messages
              %td
              %td x
              %td
              %td
      %br/
      %h2#note_permissions Note Permissions
      .table-responsive
        %table#note-permissions{:class => "table#{table_class} table-hover mb-5 text-center"}
          %thead
            %tr
              %th
              %th Admin
              %th Owner
              %th Collaborator
              %th Group Member
              %th User
              %th Not Logged In
          %tbody
            %tr
              %td Create Notes
              %td x
              %td
              %td
              %td
              %td x
              %td
            %tr
              %td View/Search Public Notes
              %td x
              %td x
              %td x
              %td x
              %td x
              %td x
            %tr
              %td View/Search Internal Notes
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td View/Search Private Notes
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Notes
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Tags
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Edit Collaborators
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Collaborators
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Edit Groups
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td View Groups
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
            %tr
              %td Change Owners
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td View Collaboration Logs
              %td x
              %td x
              %td x
              %td x
              %td
              %td
            %tr
              %td Delete Notes
              %td x
              %td x
              %td
              %td
              %td
              %td
            %tr
              %td Star Notes
              %td x
              %td x
              %td x
              %td x
              %td x
              %td
