- provide(:title, 'Help')
.container-xxl.g-0
  %h1 Help
  %div{:class => "card #{card_class}"}
    .card-body
      .row
        .col-md-3
          - if !@help_sections.empty? || SiteSetting.allow_users_to_contact_admins?
            %ul.list-group.list-group-flush.mb-3
              - @help_sections.each do |help_section|
                = link_to help_path(:anchor => 'help_section_' + help_section.id.to_s ), class: "text-break" do
                  %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                    = help_section.title
              - if SiteSetting.allow_users_to_contact_admins?
                = link_to help_path(:anchor => 'contact_admins') do
                  %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                    %i.bi.bi-envelope>
                    Contact Site Admins
          - if current_user.admin
            .mb-5
              = link_to new_help_section_path, class: link_class do
                %i.bi.bi-plus>
                Add help section
        .col-md-9
          - @help_sections.each do |help_section|
            = render help_section
          - if SiteSetting.allow_users_to_contact_admins?
            #contact_admins.mb-5
              %h2 Contact Site Admins
              %p Not finding what you need?
              .mb-3
                = link_to "Get Support", new_support_issue_path, class: "btn btn-primary btn-sm"
          - if current_user.admin && !@help_sections.empty?
            .mb-3
              = link_to new_help_section_path, class: link_class do
                %i.bi.bi-plus>
                Add help section
