#home_content.row.grid
  - @items.each do |item|
    .col-sm-6.col-lg-4.col-xxl-3.mb-4.grid-item
      = render item.card_template_path, item: item
= will_paginate @items, list_classes: %w(pagination pagination-sm justify-content-center)
