#search.row
  #search_content.col-sm-6.col-lg-4.col-xxl-3
    %h6.mt-3
      Search Query
    = form_tag(search_path, method: :get, class: 'row') do
      .input-group.me-5
        = text_field_tag(:query, params[:query], class: 'form-control form-control-sm custom-placeholder' + input_class, placeholder: "Search")
        = button_tag nil, class: 'btn btn-sm' + search_btn_class do
          %i.bi.bi-search
      %small.mt-2
        = "Showing #{@start_result} - #{@end_result} of #{@items.total_entries} results"
      %h6.mt-3
        Limit Result Type
      .ms-1
        - SiteSearch.model_list.each do |item|
          .form-check
            = check_box_tag "item_types[]", item, params[:item_types]&.include?(item), class: "form-check-input", id: "item_types_#{item}"
            = label_tag "item_types_#{item}", item.titleize, class: "form-check-label"
      - if current_user
        %h6.mt-3
          Filters
        .ms-1
          .form-check
            = check_box_tag :my_owned, '1', params[:my_owned].present?, class: "form-check-input", id: "my_owned"
            = label_tag :my_owned, "Owned Items", class: "form-check-label"
          .form-check
            = check_box_tag :my_items, '1', params[:my_items].present?, class: "form-check-input", id: "my_items"
            = label_tag :my_items, "My Items", class: "form-check-label"
          .form-check
            = check_box_tag :my_stars, '1', params[:my_stars].present?, class: "form-check-input", id: "my_stars"
            = label_tag :my_stars, "My Stars", class: "form-check-label"
      %h6.mt-3
        Tags
      .ms-1.mt-1.mb-5
        - @tags.each do |tag|
          = link_to tag.name, tag, class: 'btn btn-sm btn-primary me-1 mb-1' + link_class
  #search_content.col-sm-6.col-lg-8.col-xxl-9
    .row.grid
      - @items.each do |item|
        .col-sm-12.col-lg-6.col-xxl-4.mb-4
          = render item.card_template_path, item: item
  = will_paginate @items, list_classes: %w(pagination pagination-sm justify-content-center)
