- provide(:title, 'User Management')
.container-xxl.g-0
  %h1 User Management
  .mb-4.mt-4
    = link_to 'New User', new_user_path, class: 'btn btn-primary btn-sm'
  %div{"data-controller" => "toggle-admin-only-view"}
    .mb-3
      = form_tag(user_management_path, method: :get, class: 'row') do
        .input-group.mb-2.mt-2
          = text_field_tag(:search, params[:search], class: 'form-control form-control-sm custom-placeholder' + input_class, style: "max-width:250px;", placeholder: "Search by Email or Username")
          = hidden_field_tag :view_admins, "0", data: { "toggle-admin-only-view-target": "admins" }
          = button_tag nil, class: 'btn btn-primary btn-sm' do
            %i.bi.bi-search
            Search
          = link_to 'Clear', user_management_path, class: 'btn btn-secondary btn-sm'
    .form-check.form-switch.ms-2
      = form_tag(user_management_path, method: :get, data: { "toggle-admin-only-view-target": "submit" }) do
        = hidden_field_tag :search, "", data: { "toggle-admin-only-view-target": "query" }
        = check_box_tag :view_admins, 1, false, data: { "action": "click->toggle-admin-only-view#toggle", "toggle-admin-only-view-target": "toggle" }, "class": "form-check-input", "type": "checkbox", "role": "switch"
        %label.form-check-label{:for => "view_admins"} Admin users
      %br/
    - @users.each do |user|
      .mb-3
        = render 'users/user', user: user
    = will_paginate @users, list_classes: %w(pagination pagination-sm justify-content-center)
