%div{"data-controller" => "chat-submit"}
  = form_for([@chat, @message]) do |f|
    = f.text_area :content, class: "form-control form-control-sm" + input_class, data: { "chat-submit-target": "input" }
    = f.submit "Send", style: "display:none;", data: { "chat-submit-target": "submit" }
    %div{:class => "form-text#{light_text_class}"}
      Messages use
      = link_to "Kramdown Markup", "https://kramdown.gettalong.org/quickref.html", target: '_blank', class: link_class
