- recieved_real_time ||= false
- @chat ||= chat
- user ||= current_user
- if message.content
  - if recieved_real_time
    .row.mb-3.message-row{"data-controller" => "real-time-chat-message", "data-real-time-chat-message-id" => "#{chat.id}"}
      = render 'messages/message_content', message: message, user: user
  - else
    .row.mb-3.message-row
      = render 'messages/message_content', message: message, user: user

