.message
  - if message.user == user
    .message-content.text-end.text-break{:id => "#{dom_id message}"}
      = sanitize Kramdown::Document.new(message.content).to_html
      - if message.created_at < 30.minutes.ago
        .message-date.text-end
          %small.updated_date_text_class
            = record_created(message, user)
  - else
    %div{:class => "#{message_class(user)} text-break", :id => "#{dom_id message}"}
      %strong
        - if message.user
          = message.user.handle
        - else
          = "[Deleted User Account (#{message.user_username})]"
      = sanitize Kramdown::Document.new(message.content).to_html
      - if message.created_at < 30.minutes.ago
        .message-date
          %small.updated_date_text_class
            = record_created(message, user)
