- provide(:title, 'Site Settings')
.container-xxl.g-0
  %span#edit-notice
    = turbo_stream_from @siteSetting, "edit_notice"
  %h1 Site Settings
  %div{:class => "card #{card_class}"}
    .card-body
      .row
        .col-md-3
          %ul.list-group.list-group-flush.mb-3
            = link_to edit_site_setting_path(SiteSetting.id, :anchor => 'brandind'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Branding
            = link_to edit_site_setting_path(SiteSetting.id, :anchor => 'user_settings'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                User Settings
            = link_to edit_site_setting_path(SiteSetting.id, :anchor => 'contact'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Contact Form
        .col-md-9
          = form_for @siteSetting, html: { multipart: true } do |f|
            = render 'error_messages', object: @siteSetting, object_name: 'settings'
            #branding
              %h2 Branding
              .mb-3
                = f.label "Site Name", style: "display: block", class: "form-label"
                = f.text_field :site_name, class: "form-control form-control-sm" + input_class
              .mb-5
                = f.check_box :display_site_name, class: "form-check-input"
                = f.label :display_site_name, "Display site name in navbar", class: "form-check-label"
              .mb-5
                = f.label "Site Logo", class: "form-label"
                = render 'logo_display'
                = f.file_field :logo, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
              .mb-5
                = f.label "Favicon", class: "form-label"
                = render 'favicon_display'
                = f.file_field :favicon, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
              .mb-5
                = f.label "Apple touch icon", class: "form-label"
                = render 'apple_touch_icon_display'
                = f.file_field :apple_touch_icon, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
            #user_settings
              %h2 User Settings
              .mb-3
                = f.check_box :users_can_join, class: "form-check-input"
                = f.label :users_can_join, "Allow Users to Join", class: "form-check-label"
                %div{:class => "form-text#{light_text_class}"} Allows new users to sign up automatically through a web form.
              .mb-3
                = f.check_box :follow_users, class: "form-check-input"
                = f.label :follow_users, "Allow Users to Follow Each Other", class: "form-check-label"
              .mb-5
                = f.check_box :chat, class: "form-check-input"
                = f.label :chat, "Enable Chat", class: "form-check-label"
              .mb-5
                = f.label "Default avatar", class: "form-label"
                = render 'default_avatar_display'
                = f.file_field :default_avatar, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
            #contact
              %h2 Contact Form
              .mb-3{"data-controller" => "contact-form-settings"}
                = f.check_box :contact_form, class: "form-check-input", data: { action: 'click->contact-form-settings#toggle' }, "data-contact-form-settings-target": "toggle"
                = f.label :contact_form, "Enable Contact Form", class: "form-check-label"
                %div{:class => "form-text#{light_text_class}"}
                  Allows users to submit issues through a contact form
                  on the #{link_to "Help", help_path, class: link_class} page.
                #contact-form-settings{"data-contact-form-settings-target" => "hide"}
                  .mb-3.mt-3
                    = f.check_box :rich_text_support_issues, class: "form-check-input"
                    = f.label :rich_text_support_issues, "Allow Rich Text Support Issues and User Comments", class: "form-check-label"
                    %div{:class => "form-text#{light_text_class}"}
                      Disable this to allow only plain text contact form
                      submissions from users. Prevent users from adding malicious
                      files and links.
                  .mb-3
                    = f.check_box :rich_text_support_replies, class: "form-check-input"
                    = f.label :rich_text_support_replies, "Allow Rich Text Support Replies and Notes from admins", class: "form-check-label"
                    %div{:class => "form-text#{light_text_class}"}
                      Disable this to allow only plain text contact form
                      notes and replies to users from admins.
                  .mb-3
                    = f.check_box :email_contact_form_to_admins, class: "form-check-input"
                    = f.label :email_contact_form_to_admins, "Email admins support issue updates", class: "form-check-label"
                    %div{:class => "form-text#{light_text_class}"}
                      Send an email to admins when a support issue
                      is submitted or updated.
                  .mb-3
                    = f.check_box :email_issue_status_to_users, class: "form-check-input"
                    = f.label :email_issue_status_to_users, "Email users status updates", class: "form-check-label"
                    %div{:class => "form-text#{light_text_class}"}
                      Email users when their issues are created, resolved,
                      or reopened.
            .mt-5.mb-3
              = f.submit "Update", class: "btn btn-primary btn-sm", id: "edit-btn"
  %br/
