- if record.has_edit_privileges(current_user)
  .card-footer
    %small
      .mb-2.text-center
        %strong.me-1= record.status
        = link_to edit_note_path(record), class: link_class do
          %i.bi.bi-pencil-fill<>
          Edit note
