%div{:class => "card sticky-note  #{card_class}"}
  .card-body
    = form_with(model: note) do |form|
      = render 'error_messages', object: note, object_name: 'this note'
      = form.hidden_field :whodunnit, value: current_user.id
      .mb-3
        = form.label :title, style: "display: block", class: "form-label"
        = form.text_field :title, class: "form-control form-control-sm" + input_class
      .mb-3
        = form.label :visibility, style: "display: block", class: "form-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 0, class: "form-check-input", :checked => true
          = form.label "Private", for: "note_visibility_0", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 1, class: "form-check-input"
          = form.label "Internal", for: "note_visibility_1", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 2, class: "form-check-input"
          = form.label "Public", for: "note_visibility_2", style: "display: block", class: "form-check-label"
      = render 'collaborations/item_form', record: note, form: form
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@note.id}", "data-record-type" => "Note"}
        = form.label :text, style: "display: block", class: "form-label"
        = form.rich_text_area :text, class: "form-control"+ input_class
      = render 'tags/item_form', record: note, form: form
      - if action_name == 'new'
        .mb-3
          = form.check_box :create_another, class: "form-check-input"
          = form.label :create_another, "Create another", class: "form-check-label"
      .mb-3
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
