- note ||= item
%div{:id => "#{dom_id note}"}
  %div{:class => "card sticky-note  #{card_class}"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-pin-angle-fill
      %h5.card-title
        = link_to note.title, note, class: "text-decoration-none text-reset"
      .float-end
        %span{:id => "note-stars-#{note.id}"}
          %span{:id => "#{note.type.downcase}-star-#{note.id}"}
            = render 'stars/star', record: note
      %span#collaborators-list
        = render 'collaborations/owner', record: note
    .card-body
      .mb-3
        = truncate_actiontext_html(note.text.to_s, link_class: link_class, max_length: 300, read_more_path: note_path(note)).html_safe
    .card-footer
      %small
        .mb-2.text-center
          - if note.has_edit_privileges(current_user)
            %strong.me-1>
              = note.status
          = link_to note, class: link_class do
            %i.bi.bi-sticky>
            Show note
