%div{:id => "#{dom_id note}"}
  %div{:class => "card sticky-note  #{card_class}"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-pin-angle-fill
      %h5.card-title
        = note.title
      .float-end
        %span{:id => "note-stars-#{note.id}"}
          %span{:id => "#{note.type.downcase}-stars-show-#{note.id}"}
            %span{:id => "#{note.type.downcase}-stars-show-#{note.id}"}
              = render 'stars/stars_show', record: note
      %span#collaborators-list
        = render 'collaborations/collaborators_list', record: note
    .card-body
      .mb-3
        = note.text
      .mt-5.table-responsive
        %table.w-100
          %tbody
            %tr
              %td
                %small
                  %span#tags-list
                    = render 'tags/item_tags_list', record: note
              %td.align-bottom
                %small{:class => "update-date text-nowrap float-end#{updated_date_text_class}"}
                  Updated #{item_updated(note)}
    %span#edit-links
      = render 'notes/edit_section', record: note
