- provide(:title, 'Edit Note')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %span#edit-notice
        = turbo_stream_from @note, "edit_notice"
      %h1 Edit Note
      = render "form", note: @note
      %br/
      - if @note.has_owner_privileges(current_user)
        .mb-3
          = button_to "Delete Note", @note, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
      .mb-3
        = link_to @note, class: link_class do
          %i.bi.bi-sticky>
          Show note
