= turbo_stream.update "avatar_display" do
  = render partial: "avatar_display"
= turbo_stream.update "avatar_image" do
  - if SiteSetting.default_avatar.attached?
    %span#default_avatar_image= image_tag(default_avatar_path(:tiny))
  - else
    %i.bi.bi-person-circle
= turbo_stream.update "mobile_avatar_image" do
  - if SiteSetting.default_avatar.attached?
    %span#mobile_default_avatar_image= image_tag(default_avatar_path(:tiny))
  - else
    %i.bi.bi-person-circle
