- provide(:title, 'Edit Profile')
.container-xxl.g-0
  %h1 Edit Profile
  %div{:class => "card #{card_class}"}
    .card-body
      .row
        .col-md-3
          %ul.list-group.list-group-flush.mb-3
            - if current_user.admin?
              = link_to edit_user_registration_path(:anchor => 'roles'), class: "text-break" do
                %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                  Roles
            = link_to edit_user_registration_path(:anchor => 'profile'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Profile
            = link_to edit_user_registration_path(:anchor => 'preferences'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Preferences
            = link_to edit_user_registration_path(:anchor => 'password_reset'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Password Reset
            = link_to edit_user_registration_path(:anchor => 'cancel'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Cancel Account
        .col-md-9
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = render "devise/shared/error_messages", resource: resource
            - if current_user.admin?
              #roles
                %h2 Roles
                .mb-5
                  = f.check_box :admin, class: "form-check-input"
                  = f.label :admin, class: "form-check-label"
            #profile
              %h2 Profile
              .mb-3
                = f.label :username, class: "form-label"
                %br/
                = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-sm" + input_class
                %div{:class => "form-text#{light_text_class}"} Only letters, numbers, dashes, and underscores.
              .mb-3
                = f.label :email, class: "form-label"
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" + input_class
                %div{:class => "form-text#{light_text_class}"} If updated, a message with a confirmation link will be sent to your new email address. Please follow the link to complete the change.
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                .mb-3
                  %div
                    Currently waiting
                    %strong
                      %span{:style => "color: red"} confirmation
                    for: #{resource.unconfirmed_email}
              .mt-5.mb-5
                = f.label "Avatar", class: "form-label"
                = render 'avatar_display'
                = f.file_field :avatar, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
            #preferences
              %h2 Preferences
              .mb-3
                = f.check_box :darkmode, class: "form-check-input"
                = f.label :darkmode, class: "form-check-label"
              - if SiteSetting.follow_users?
                .mb-3
                  = f.check_box :hide_relationships, class: "form-check-input"
                  = f.label :hide_relationships, "Hide Follow Relationships", class: "form-check-label"
                  %div{:class => "form-text#{light_text_class}"}
                    If this is checked, then only you will see your following/follower
                    statistics and you will not display on other users' follower lists.
              .mb-3
                = f.check_box :hide_stars, class: "form-check-input"
                = f.label :hide_stars, "Hide Starred Resources", class: "form-check-label"
                %div{:class => "form-text#{light_text_class}"}
                  Keep your starred resources private. You will not display on a
                  resource's stargazer list.
              .mb-5
                = f.label 'Timezone', class: "form-label"
                = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {class: "form-select form-select-sm" + input_class}
            #password_reset
              %h2 Password Reset
              .mb-3
                = f.label :password, class: "form-label"
                %i (leave blank if you don't want to change it)
                %br/
                .input-group.input-group-sm{"data-controller" => "password-visibility"}
                  = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
                  %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
                    %span{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye
                    %span.hidden{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye-slash
                - if @minimum_password_length
                  .form-text
                    = @minimum_password_length
                    characters minimum
              .mb-3
                = f.label :password_confirmation, class: "form-label"
                %br/
                .input-group.input-group-sm{"data-controller" => "password-visibility"}
                  = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
                  %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
                    %span{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye
                    %span.hidden{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye-slash
              .mb-5
                = f.label :current_password, class: "form-label"
                %i (current password required to change password)
                %br/
                .input-group.input-group-sm{"data-controller" => "password-visibility"}
                  = f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
                  %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
                    %span{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye
                    %span.hidden{"data-password-visibility-target" => "icon"}
                      %i.bi.bi-eye-slash
            .actions.mb-5{"data-turbo" => "false"}
              = f.submit "Update", class: "btn btn-primary btn-sm"
          #cancel
            %h2 Cancel Account
            %p
              This action cannot be undone. All your owned groups and items will also be deleted. #{link_to "Bulk transfer groups and items", bulk_edit_ownership_user_path(@current_user), class: link_class } to another user to prevent deletion.
            .mb-3
              = button_to "Cancel My Account", registration_path(resource_name), method: :delete, form: { data: { turbo_confirm: 'Are you sure? All your owned items will also be deleted.' }}, class: "btn btn-danger btn-sm"
  %br/
