Hello #{@user.username},
- if !@support_reply.rich_text_body.nil?
  = @support_reply.rich_text_body.to_plain_text
- else
  = @support_reply.body
To view your issue, see site admin replies, and add new comments, go to #{support_issue_url(@support_issue)}.
