- provide(:title, 'Resend Unlock Instructions')
.container-xxl.g-0
  %h1 Resend Unlock Instructions
  %div{:class => "card #{card_class}"}
    .card-body
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .mb-3
          = f.label :email, class: "form-label"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm"
        .mb-3{:class => "actions,"}
          = f.submit "Resend Unlock Instructions", class: "btn btn-primary btn-sm"
  = render "devise/shared/links"
