.ms-1.btn-group.btn-group-sm.btn-first{"aria-label" => "Small button group", :role => "group"}
  - if current_user && record.stargazer?(current_user)
    = form_with url: remove_stars_path(record.id, record.type), method: "patch" do |form|
      = form.button nil, class: "btn btn-sm btn-first" + star_button_class  do
        %i.bi.bi-star-fill
        Unstar
  - elsif current_user && !record.stargazer?(current_user)
    = form_with url: add_stars_path(record.id, record.type), method: "patch" do |form|
      = form.button nil, class: "btn btn-sm btn-first" + star_button_class  do
        %i.bi.bi-star
        Star
  - if current_user
    = link_to record.star_count, stargazers_path(record.route_type, record.id), class: "stargazers btn btn-sm" + star_button_class
  - else
    = link_to stargazers_path(record.route_type, record.id), class: "stargazers btn btn-sm" + star_button_class do
      %i.bi.bi-star
      = record.star_count
