- if current_user && record.stargazer?(current_user)
  = form_with url: remove_stars_path(record.id, record.type), method: "patch" do |form|
    = form.button nil, class: "ms-1 btn btn-sm" + star_button_class(record), style: star_style(record) do
      %i.bi.bi-star-fill
- elsif current_user && !record.stargazer?(current_user)
  = form_with url: add_stars_path(record.id, record.type), method: "patch" do |form|
    = form.button nil, class: "ms-1 btn btn-sm" + star_button_class(record), style: star_style(record) do
      %i.bi.bi-star
