= turbo_stream.update "#{@record.type.downcase}-stars-show-" + @record.id.to_s do
  %span{:id => "#{@record.type.downcase}-stars-show-#{@record.id}"}= render 'stars/stars_show', record: @record
= turbo_stream.update "#{@record.type.downcase}-star-" + @record.id.to_s do
  %span{:id => "#{@record.type.downcase}-star-#{@record.id}"}= render 'stars/star', record: @record
