- provide(:title, @record.title + ': Stargazers')
%h1= @record.title + ': Stargazers'
#stargazers.row.grid
  - @stargazers.each do |stargazer|
    .col-sm-6.col-lg-4.col-xxl-3.mb-4.grid-item
      = render 'users/user_card', user: stargazer
= will_paginate @stargazers, list_classes: %w(pagination pagination-sm justify-content-center)
