- if @group.avatar.attached?
  = image_tag(@group.avatar.variant(:thumb))
  %br/
  %br/
  = link_to 'Remove avatar', group_delete_avatar_path(@group), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
  or set a new one:
= " - Not set" if @group.avatar.attached?
%br/
