#avatar_and_name
  - if action_name == 'show'
    - if @group.avatar.attached?
      = image_tag(@group.avatar.variant(:medium))
      %br/
    - elsif SiteSetting.default_avatar.attached?
      = image_tag(default_avatar_path(:medium))
      %br/
    %h5
      %i.bi.bi-people-fill
      = @group.name
  - else
    - if @group.avatar.attached?
      = link_to(image_tag(@group.avatar.variant(:medium)), group_path(@group))
      %br/
    - elsif SiteSetting.default_avatar.attached?
      = link_to(image_tag(default_avatar_path(:medium)), group_path(@group))
      %br/
    %h5
      = link_to group_path(@group), class: link_class do
        %i.bi.bi-people-fill
        = @group.name
