- if @group.has_edit_privileges(current_user)
  .form-label.mb-2 Group Members
  - if (@group and @group.members.count > 0)
    .mb-2.clearfix
      - @group.members.each do |member|
        .float-start.mb-1.me-1
          = form_with model: @group, url: group_remove_member_path(@group), method: "patch" do |form|
            = form.hidden_field :user_id, value: member.id
            = form.button nil, class: "btn btn-sm btn-danger" do
              = member.handle
              %i.bi.bi-x-lg
  = form_with model: @group, url: group_add_member_path(@group), method: "patch" do |form|
    .input-group.mb-5{ "data-controller" => "autocomplete", "data-autocomplete-query-type" => "users" }
      = form.text_field :username, class: "form-control form-control-sm dropdown-toggle group-member custom-placeholder" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown"
      %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
      = form.submit "Add Member", class: "btn btn-primary btn-sm", "data-autocomplete-target": "btn"
