- if @group.has_edit_privileges(current_user) && action_name != 'index' && action_name != 'show_groups'
  .mt-2
    = link_to group_edit_members_path(@group), class: link_class + ' ms-1', data: { turbo_frame: 'remote_modal' } do
      %i.bi.bi-pencil-square>
      Edit members
  .mt-1
    = link_to group_membership_logs_path(@group), class: link_class do
      %i.bi.bi-list-columns-reverse>
      Membership Log
  .mt-1
    = link_to edit_group_path(@group), class: link_class do
      %i.bi.bi-pencil-fill
      Edit group
