- if @group.has_owner_privileges(current_user)
  = form_with model: @group, url: group_change_owner_path(@group), method: "patch" do |form|
    .form-label.mb-2 Owner
    .input-group.mb-5{ "data-controller" => "autocomplete", "data-autocomplete-query-type" => "users" }
      = form.text_field :username, class: "form-control form-control-sm dropdown-toggle custom-placeholder group-owner" + input_class, value: @group.owner.handle, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown"
      %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
      = form.submit "Change Owner", onclick: "return confirm('Are you sure? You may lose access if you change the owner to another user.')", class: "btn btn-primary btn-sm", "data-autocomplete-target": "btn"
      %div{:class => "form-text#{light_text_class}"} You may lose access if you change the owner to another user.
- elsif @group.has_edit_privileges(current_user)
  .mb-5
    %form
      %fieldset{:disabled => "disabled"}
        %label.form-label Owner
        %input{:class => "form-control form-control-sm#{input_class}", :type => "text", :value => "#{@group.owner_handle}"}/
