%div{:class => "card #{card_class}"}
  .card-body
    = form_with(model: group) do |form|
      = render 'error_messages', object: group, object_name: 'this group'
      = form.hidden_field :whodunnit, value: current_user.id
      .mb-3
        = form.label :name, style: "display: block", class: "form-label"
        = form.text_field :name, class: "form-control form-control-sm" + input_class
        %div{:class => "form-text#{light_text_class}"} Only letters, numbers, spaces, dashes, or underscores.
      #group_members_notice
      .form-label.mb-2 Group Members
      #group_members.mb-2.clearfix
        - group.group_members.order_by_username.each do |member|
          = render "groups/group_members_form", group: group, member: member
      .input-group{"data-controller" => "add-nested-form-item autocomplete", "data-autocomplete-query-type" => "users"}
        = text_field_tag(:member_username, nil, class: "form-control form-control-sm dropdown-toggle" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown")
        %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
        = button_tag type: "button", class: "btn btn-primary btn-sm", data: { action: "add-nested-form-item#addMember", "autocomplete-target": "btn" } do
          %i.bi.bi-plus
          Add Member
      - if action_name == 'edit'
        %div{:class => "form-text#{light_text_class}"}
          Owned by #{@group.owner_handle}
      .mb-3.mt-3
        = form.label :description, style: "display: block", class: "form-label"
        = form.text_area :description, class: "form-control form-control-sm" + input_class
      .mb-5
        = form.label "Avatar", class: "form-label"
        %span#avatar_display
          = render 'avatar_display'
        = form.file_field :avatar, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
      %div
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
