- @group = group
.card{:class => "#{card_class}"}
  .card-body
    %div{:id => "#{dom_id group}"}
      .row
        %div{:class => "#{user_left_col_classes} mb-3"}
          = render 'groups/avatar_and_name'
          #group-member-stats-list
            = render 'groups/members'
          #group-member-edit-btns
            = render 'groups/edit_group_buttons'
          = render 'groups/item_counts'
        %div{:class => "#{user_right_col_classes} mb-3"}
          - if @group.description.present?
            .mb-4
              = @group.description
          = render 'groups/activity_log'
