.mt-2
  - calendars_count = SiteSearch.search_total_hits(admin: current_user.admin?, user_id: current_user.id, item_types: ['calendars'], group_id: @group.id)
  = link_to group_show_items_path(@group, 'calendars'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-calendar3
    = calendars_count
    = calendars_count == 1 ? 'Calendar' : 'Calendars'
  - decks_count = SiteSearch.search_total_hits(admin: current_user.admin?, user_id: current_user.id, item_types: ['decks'], group_id: @group.id)
  = link_to group_show_items_path(@group, 'decks'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-paperclip
    = decks_count
    = decks_count == 1 ? 'Deck' : 'Decks'
  - notes_count = SiteSearch.search_total_hits(admin: current_user.admin?, user_id: current_user.id, item_types: ['notes'], group_id: @group.id)
  = link_to group_show_items_path(@group, 'notes'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-pin-angle-fill
    = notes_count
    = notes_count == 1 ? 'Note' : 'Notes'
