- if current_user and SiteSetting.chat? and @group.member?(current_user) && action_name != 'edit'
  %div{:id => "join_chat_for_#{@group.id}"}
    = link_to join_group_chat_chats_url(@group.id), class: outline_button_class + "btn btn-sm mt-2", data: { turbo_frame: 'offcanvas' } do
      %i.bi.bi-chat-dots-fill
      Join Chat
