#group-members-index-list
  - members.each do |member|
    .mb-3
      = render member
  = will_paginate members, list_classes: %w(pagination pagination-sm justify-content-center), :params => { :controller => 'groups', :action => 'show_members' }
