%a{:class => "me-1 #{link_class}", :href => "#{group_show_members_path(@group)}"}
  %strong.stat{:id => "members_#{@group.id}"}
    = @group.members_count
  - if @group.members_count == 1
    member
  - else
    members
= render 'groups/join_chat_form'
- if @group.all_group_members.any?
  .mt-3.clearfix
    - @group.all_group_members.each do |member|
      - if member.avatar.attached?
        = link_to(image_tag(member.avatar.variant(:tiny)), user_path(member), class: "float-start me-1")
      - elsif SiteSetting.default_avatar.attached?
        = link_to(image_tag(default_avatar_path(:tiny)), user_path(member), class: "float-start me-1")
