= turbo_stream.update "remote_modal_body" do
  = render "controller_alerts"
  = render "flash_alerts"
  = render "edit_owner_form", group: @group
  = render "edit_members_form", group: @group
  = debug(params) if Rails.env.development?
= turbo_stream.update "group-member-stats-list" do
  = render 'groups/members', group: @group
= turbo_stream.update "group-members-index-list" do
  = render 'groups/member_index', members: @members
= turbo_stream.update "group-member-edit-btns" do
  = render 'groups/edit_group_buttons', group: @group
