- provide(:title, 'Edit Group')
.container-xxl.g-0
  %span#edit-notice
    = turbo_stream_from @group, "edit_notice"
  %h1 Edit Group
  .row
    .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.mt-3.mb-5
      = render 'groups/avatar_and_name'
      #group-member-stats-list
        = render 'groups/members'
    .col-sm-6.col-md-8.col-lg-9.col-xl-9.col-xxl-10
      = render "form", group: @group
      %br/
      - if @group.has_owner_privileges(current_user)
        .mb-3
          = button_to "Delete Group", @group, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
      .mb-3
        = link_to "Show group", @group, class: link_class
