- provide(:title, 'Groups')
.container-xxl.g-0
  %h1 Groups
  %div{"data-controller" => "toggle-my-groups-view"}
    .mb-3
      = form_tag(groups_path, method: :get, class: 'row') do
        .input-group.mb-2.mt-2
          = text_field_tag(:search, params[:search], class: 'form-control form-control-sm custom-placeholder' + input_class, style: "max-width:250px;", placeholder: "Search by Group Name")
          = hidden_field_tag :view_my_groups, "0", data: { "toggle-my-groups-view-target": "mine" }
          = button_tag nil, class: 'btn btn-primary btn-sm' do
            %i.bi.bi-search
            Search
          = link_to 'Clear', groups_path, class: 'btn btn-secondary btn-sm'
    .form-check.form-switch.ms-2
      = form_tag(groups_path, method: :get, data: { "toggle-my-groups-view-target": "submit" }) do
        = hidden_field_tag :search, "", data: { "toggle-my-groups-view-target": "query" }
        = check_box_tag :view_my_groups, 1, false, data: { "action": "click->toggle-my-groups-view#toggle", "toggle-my-groups-view-target": "toggle" }, "class": "form-check-input", "type": "checkbox", "role": "switch"
        %label.form-check-label{:for => "view_my_groups"} Show my groups
    %br/
    - @groups.each do |group|
      .mb-3
        = render group
    = will_paginate @users, list_classes: %w(pagination pagination-sm justify-content-center)
