- provide(:title, @group.name + ': Membership Log')
.container-xxl.g-0
  %h1
    %i.bi.bi-people-fill
    = @group.name + ': Membership Log'
    = link_to group_membership_logs_path(@group, format: 'csv'), class: "btn btn-primary btn-sm float-end" do
      %i.bi.bi-shuffle
      Export CSV
  .card.mb-3
    .card-body
      %div{ id: @group.id.to_s + "_id" }
        %ul.list-group.list-group-flush
          - @logs.each do |log|
            %li.list-group-item{ class: list_group_item_log_class }
              - if log.user
                = link_to log.user.handle, |
                  user_url(log.user)       |
              - else
                [Deleted User Account](#{log.user_handle})
              = log.action_string
              - if log.member
                = link_to log.member.handle, |
                  user_url(log.member)       |
              - else
                [Deleted User Account](#{log.member_handle})
              on #{pretty_time(log.created_at)}
    %br
= will_paginate @logs, list_classes: %w(pagination pagination-sm justify-content-center)
= link_to group_path(@group), class: link_class do
  %i.bi.bi-people-fill>
  Back to group
