- provide(:title, 'Members')
.container-xxl.g-0
  %h1 Members
  .row
    .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.mt-3.mb-5
      = render 'groups/avatar_and_name'
      #group-member-stats-list
        = render 'groups/members'
      #group-member-edit-btns
        = render 'groups/edit_group_buttons'
    .col-sm-6.col-md-8.col-lg-9.col-xl-9.col-xxl-10
      #group-members-index-list
        = render 'groups/member_index', members: @members
