- current_user ? logs = current_user.viewable_activity_logs_for(@user) : logs = @user.public_activity_logs
- if logs.any?
  %h6 Recent Activity
- else
  %h6 No Recent Activity
%ul.list-group.list-group-flush
  - logs.each do |log|
    %li{:class => "list-group-item #{list_group_item_log_class}"}
      = log.action_string
      - if log.record.class.to_s == 'User'
        = link_to log.record.handle, user_url(log.record)
      - elsif log.record.class.to_s == 'Event'
        - log.record.all_day ? date = log.record.start : date = log.record.start.in_time_zone(current_timezone(current_user))
        - if current_user || log.record.all_day?
          = link_to log.record.class.to_s.titlecase, calendar_by_day_path(log.record.parent, year: date.year, month: date.month, day: date.day, anchor: log.record.class.to_s + "_" + log.record.id.to_s)
        - else
          %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
            = link_to log.record.class.to_s.titlecase, calendar_by_day_path(log.record.parent, year: date.year, month: date.month, day: date.day, anchor: log.record.class.to_s + "_" + log.record.id.to_s), "data-update-link-data-params-with-local-time-target": "link"
      - elsif log.record.class.to_s == 'RecurringEvent'
        - log.record.all_day ? date = log.record.first_event_start : date = log.record.first_event_start.in_time_zone(current_timezone(current_user))
        - if current_user || log.record.all_day?
          = link_to log.record.class.to_s.titlecase, calendar_by_day_path(log.record.parent, year: date.year, month: date.month, day: date.day, anchor: log.record.class.to_s + "_" + log.record.id.to_s)
        - else
          %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
            = link_to log.record.class.to_s.titlecase, calendar_by_day_path(log.record.parent, year: date.year, month: date.month, day: date.day, anchor: log.record.class.to_s + "_" + log.record.id.to_s), "data-update-link-data-params-with-local-time-target": "link"
      - elsif log.record.methods.include? :parent
        = link_to log.record.class.to_s.titlecase, send("#{log.record.member_route_type}_path", log.record.parent, log.record)
      - else
        = link_to log.record.class.to_s.titlecase, send("#{log.record.member_route_type}_path", log.record)
      - if log.action_string.include?('tag')
        = log.details
      on #{pretty_time(log.created_at)}
