- if current_user
  - unless current_user.id == @user.id || action_name == 'user_management'
    %div{:class => follow_btn_float_class, :id => "follow_form_user_#{@user.id}"}
      - if current_user.following?(@user)
        = render 'users/unfollow'
      - else
        = render 'users/follow'
