- if users.any?
  - if current_user != @user
    %br/
  .mt-3.clearfix
    - users.each do |user|
      - if user.avatar.attached?
        = link_to(image_tag(user.avatar.variant(:tiny)), user_path(user), class: "float-start me-1")
      - elsif SiteSetting.default_avatar.attached?
        = link_to(image_tag(default_avatar_path(:tiny)), user_path(user), class: "float-start me-1")
