= form_with(model: current_user.active_relationships.build) do |f|
  = hidden_field_tag :followed_id, @user.id
  = f.button nil, class: "btn btn-sm mt-2" + outline_button_class  do
    %i.bi.bi-person-plus-fill
    Follow
