%a{:class => "me-1 #{link_class}", :href => "#{show_groups_user_path(@user)}"}
  %strong.stat{:id => "groups_#{@user.id}"}
    = @user.groups_count
  groups
- if @groups.any?
  .mt-3.clearfix
    - @groups.each do |group|
      - if group.avatar.attached?
        = link_to(image_tag(group.avatar.variant(:tiny)), group_path(group), class: "float-start me-1")
      - elsif SiteSetting.default_avatar.attached?
        = link_to(image_tag(default_avatar_path(:tiny)), group_path(group), class: "float-start me-1")
