.mt-2
  - calendars_count = SiteSearch.search_total_hits(admin: current_user&.admin?, user_id: current_user&.id, item_types: ['calendars'], items_user_id: @user.id)
  = link_to show_items_user_path(@user, 'calendars'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-calendar3
    = calendars_count
    = calendars_count == 1 ? 'Calendar' : 'Calendars'
  - decks_count = calendars_count = SiteSearch.search_total_hits(admin: current_user&.admin?, user_id: current_user&.id, item_types: ['decks'], items_user_id: @user.id)
  = link_to show_items_user_path(@user, 'decks'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-paperclip
    = decks_count
    = decks_count == 1 ? 'Deck' : 'Decks'
  - if current_user
    - groups_count = @user.groups_count
    = link_to show_groups_user_path(@user), class: 'btn btn-secondary btn-sm mb-1 me-1' do
      %i.bi.bi-people-fill
      = groups_count
      = groups_count == 1 ? 'Group' : 'Groups'
  - notes_count = calendars_count = SiteSearch.search_total_hits(admin: current_user&.admin?, user_id: current_user&.id, item_types: ['notes'], items_user_id: @user.id)
  = link_to show_items_user_path(@user, 'notes'), class: 'btn btn-secondary btn-sm mb-1 me-1' do
    %i.bi.bi-pin-angle-fill
    = notes_count
    = notes_count == 1 ? 'Note' : 'Notes'
  - unless @user.hide_stars && (!current_user || (!current_user.admin && current_user&.id != @user.id))
    - stars_count = calendars_count = SiteSearch.search_total_hits(admin: current_user&.admin?, user_id: current_user&.id, item_types: UserItems.item_list, stars_user_id: @user.id)
    = link_to show_stars_user_path(@user), class: 'btn btn-secondary btn-sm mb-1 me-1' do
      %i.bi.bi-star-fill
      = stars_count
      = stars_count == 1 ? 'Star' : 'Stars'
