- if current_user and SiteSetting.chat?
  - unless current_user.id == @user.id || action_name == 'user_management'
    %div{:id => "join_chat_for_#{@user.id}"}
      = link_to join_user_chat_chats_url(@user.id), class: outline_button_class + "btn btn-sm mt-2", data: { turbo_frame: 'offcanvas' } do
        %i.bi.bi-chat-dots-fill
        Join Chat
