- if (current_user&.admin || current_user&.id == @user.id)
  .form-check.form-switch.mt-3.mb-3{"data-controller" => "toggle-owned"}
    = form_tag(send("show_#{route_type_for(type)}_user_path", @user), method: :get, data: { "toggle-owned-target": "submit" }) do
      = check_box_tag :view_owned, 1, false, data: { "action": "click->toggle-owned#toggle", "toggle-owned-target": "toggle" }, "class": "form-check-input", "type": "checkbox", "role": "switch"
      %label.form-check-label{:for => "view_owned"}
        Show owned #{type}
