- @user = user
.card{:class => "#{card_class}"}
  .card-body
    %div{:id => "#{dom_id user}"}
      .row
        %div{:class => "#{user_left_col_classes} mb-3"}
          = render 'users/avatar_and_username'
          = render 'users/followers'
          = render 'users/join_chat_form'
          = render 'users/masquerade'
          = render 'users/edit_your_profile'
          = render 'users/item_counts'
        %div{:class => "#{user_right_col_classes} mb-3"}
          = render 'users/activity_log'
      = render 'users/admin_fields'

