- @user = user
.card{ :class => "#{card_class}" }
  .card-body
    %div{ :id => "#{dom_id user}" }
      .text-center
        = render 'users/avatar_and_username'
      .text-center
        = render 'users/follow_form'
        = render 'users/join_chat_form'
