- provide(:title, 'Bulk Transfer Ownership for ' + @user.handle)
.container-xxl.g-0
  - if @user == current_user
    %h1 Bulk Transfer Ownership of Your Items
  - else
    %h1
      Bulk Transfer Ownership of
      - if @user.admin?
        %span{:style => "color: red"} Admin
      - else
        User
      = "#{@user.handle}'s Items"
  %div{:class => "card #{card_class}"}
    .card-body
      = render 'error_messages', object: @user, object_name: 'this form'
      = form_with url: bulk_transfer_ownership_user_path(@user), method: :post do |f|
        %h6 Select New User
        .col-3.mb-5
          = f.label "Username", for: :new_user, style: "display: block", class: "form-label"
          = f.text_field :new_user, class: 'form-control form-control-sm' + input_class
        %h6 Select Item Type to Transfer
        .mb-3
          = f.check_box :groups, class: "form-check-input"
          = f.label :groups, "Groups", class: "form-check-label"
        - UserItems.item_list.each do |item|
          .mb-3
            = f.check_box "#{item}".to_sym, class: "form-check-input"
            = f.label "#{item}".to_sym, "#{item.capitalize}", class: "form-check-label"
        .mt-5.mb-3
          = f.submit "Transfer", data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
  %br/
