- provide(:title, 'Edit ' + @user.handle)
.container-xxl.g-0
  %span#edit-notice
    = turbo_stream_from @user, "edit_notice"
  %h1
    Edit
    - if @user.admin?
      %span{:style => "color: red"} Admin
    - else
      User
    = @user.handle
  %div{:class => "card #{card_class}"}
    .card-body
      .row
        .col-md-3
          %ul.list-group.list-group-flush.mb-3
            - if current_user.admin?
              = link_to edit_user_path(@user, :anchor => 'roles'), class: "text-break" do
                %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                  Roles
            = link_to edit_user_path(@user, :anchor => 'profile'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Profile
            = link_to edit_user_path(@user, :anchor => 'preferences'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Preferences
            = link_to edit_user_path(@user, :anchor => 'cancel'), class: "text-break" do
              %li{:class => "list-group-item list-group-item-action#{list_group_item_class}"}
                Cancel Account
        .col-md-9
          = form_for @user, html: { multipart: true } do |f|
            = render 'error_messages', object: @user, object_name: 'this user'
            - if current_user.admin?
              #roles
                %h2 Roles
                .mb-5
                  = f.check_box :admin, class: "form-check-input"
                  = f.label :admin, class: "form-check-label"
            #profile
              %h2 Profile
              .mb-3
                = f.label :username, class: "form-label"
                %br/
                = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-sm" + input_class
                %div{:class => "form-text#{light_text_class}"} Only letters, numbers, dashes, and underscores.
              .mb-3
                = f.label :email, class: "form-label"
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm"
                %div{:class => "form-text#{light_text_class}"} If updated, a message with a confirmation link will be sent to user's new email address.
              - if !@user.confirmed?
                .mb-3
                  %div
                    Currently waiting
                    %strong
                      %span{:style => "color: red"} confirmation
                    for: #{@user.email}
              - if @user.unconfirmed_email
                .mb-3
                  %div
                    Currently waiting
                    %strong
                      %span{:style => "color: red"} confirmation
                    for: #{@user.unconfirmed_email}
              .mt-5.mb-5
                = f.label "Avatar", class: "form-label"
                = render 'avatar_display'
                = f.file_field :avatar, class: "form-control form-control-sm" + input_class, accept: 'image/png,image/jpg,image/jpeg'
            #preferences
              %h2 Preferences
              .mb-3
                = f.check_box :darkmode, class: "form-check-input"
                = f.label :darkmode, class: "form-check-label"
              - if SiteSetting.follow_users?
                .mb-3
                  = f.check_box :hide_relationships, class: "form-check-input"
                  = f.label :hide_relationships, "Hide Follow Relationships", class: "form-check-label"
                  %div{:class => "form-text#{light_text_class}"}
                    If this is checked, then only you will see your following/follower
                    statistics and you will not display on other users' follower lists.
              .mb-3
                = f.check_box :hide_stars, class: "form-check-input"
                = f.label :hide_stars, "Hide Starred Resources", class: "form-check-label"
                %div{:class => "form-text#{light_text_class}"}
                  Keep your starred resources private. You will not display on a
                  resource's stargazer list.
              .mb-5
                = f.label 'Timezone', class: "form-label"
                = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, {class: "form-select form-select-sm" + input_class}
            .actions.mb-5
              = f.submit "Update", class: "btn btn-primary btn-sm"
          #cancel
            %h2 Cancel Account
            %p
              This action cannot be undone. All #{@user.handle}'s owned groups and items will also be deleted. #{link_to "Bulk transfer groups and items", bulk_edit_ownership_user_path(@user)} to another user to prevent deletion.
            .mb-3
              = button_to "Delete User", @user, method: :delete, form: { data: { turbo_confirm: 'Are you sure? All items owned by this user will also be deleted.' }}, class: "btn btn-danger btn-sm", id: "edit-btn"
  %br/
