- provide(:title, 'New User')
.container-xxl.g-0
  %h1 New User
  %div{:class => "card #{card_class}"}
    .card-body
      = form_for @user, html: { multipart: true } do |f|
        .mb-3
          = f.label :email, class: "form-label"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" + input_class
        .mb-3
          = f.label :username, class: "form-label"
          %br/
          = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-sm" + input_class
          %div{:class => "form-text#{light_text_class}"} Only letters, numbers, dashes, and underscores.
        - if user_signed_in? and current_user.admin?
          .mb-3
            = f.check_box :admin, class: "form-check-input"
            = f.label :admin, class: "form-check-label"
        .mb-3
          = f.label :password, class: "form-label"
          .input-group.input-group-sm{"data-controller" => "password-visibility"}
            = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
            %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
              %span{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye
              %span.hidden{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye-slash
          - if @minimum_password_length
            .form-text
              = @minimum_password_length
              characters minimum
        .mb-3
          = f.label :password_confirmation, class: "form-label"
          %br/
          .input-group.input-group-sm{"data-controller" => "password-visibility"}
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
            %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
              %span{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye
              %span.hidden{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye-slash
        %div
          = f.submit "Create User", class: "btn btn-primary btn-sm"
  %br/
