- provide(:title, @user.handle + ': Groups')
.container-xxl.g-0
  %h1= @user.handle + ': Groups'
  .row
    .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.mt-3.mb-5
      = render 'users/avatar_and_username'
      = render 'users/groups'
      = render 'users/toggle_owned', type: 'groups' if @groups
    .col-sm-6.col-md-8.col-lg-9.col-xl-9.col-xxl-10
      - @groups.each do |group|
        .mb-3
          = render group
      = will_paginate @groups, list_classes: %w(pagination pagination-sm justify-content-center)
