- provide(:title, @title)
.container-xxl.g-0
  %h1= @title
  .row
    .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.mt-3.mb-5
      = render 'users/avatar_and_username'
      = render 'users/followers'
      = render 'users/follow_icon_list', users: @users
    .col-sm-6.col-md-8.col-lg-9.col-xl-9.col-xxl-10
      - @users.each do |user|
        .mb-3
          = render user
      = will_paginate @users, list_classes: %w(pagination pagination-sm justify-content-center)
