- provide(:title, @title)
%h1= @title
= render 'users/toggle_owned', type: @items&.first&.route_type if @items
.mt-1.mb-3
  - @tags.each do |tag|
    = link_to tag.name, tag, class: 'btn btn-sm btn-primary me-1 mb-1' + link_class
#item_content.row.grid
  - @items.each do |item|
    .col-sm-6.col-lg-4.col-xxl-3.mb-4.grid-item
      = render item.card_template_path, item: item
= will_paginate @items, list_classes: %w(pagination pagination-sm justify-content-center)
