- provide(:title, 'Change Your Password')
.container-xxl.g-0
  %h1 Change Your Password
  %div{:class => "card #{card_class}"}
    .card-body
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        .mb-3
          = f.label :password, "New password", class: "form-label"
          %br/
          .input-group.input-group-sm{"data-controller" => "password-visibility"}
            = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
            %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
              %span{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye
              %span.hidden{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye-slash
          - if @minimum_password_length
            .form-text
              = @minimum_password_length
              characters minimum
        .mb-3
          = f.label :password_confirmation, "Confirm new password", class: "form-label"
          %br/
          .input-group.input-group-sm{"data-controller" => "password-visibility"}
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
            %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
              %span{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye
              %span.hidden{"data-password-visibility-target" => "icon"}
                %i.bi.bi-eye-slash
        .actions.mb-3
          = f.submit "Change My Password", class: "btn btn-primary btn-sm"
  = render "devise/shared/links"
