- if record.has_edit_privileges(current_user)
  .card-footer
    %small
      .mb-2.text-center
        %strong.me-1= record.status
        = link_to edit_calendar_event_path(record.parent, record, user_calendar: @user_calendar, year: @current_date.year, month: @current_date.month, day: @current_date.day), class: link_class + " event-modal-edit me-1", "data-turbo-stream": "" do
          %i.bi.bi-pencil-fill
          Edit event
        = link_to edit_calendar_event_path(record.parent, record, user_calendar: @user_calendar, year: @current_date.year, month: @current_date.month, day: @current_date.day, page: @page), class: " event-no-modal-edit me-1", data: { turbo_frame: 'remote_modal' } do
          %i.bi.bi-pencil-fill
          Edit event
