= render "controller_alerts"
%span#edit-notice
  = turbo_stream_from @event, "edit_notice"
= render "form", event: [@calendar, @event]
%br/
%hr/
%br/
- if @event.has_owner_privileges(current_user)
  .mb-3
    = button_to "Delete Event", calendar_event_path(@event.calendar_id, @event.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, page: @page), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
.mb-3
  = link_to "Show event", calendar_event_path(@event.calendar_id, @event.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, page: @page), class: link_class, "data-turbo-stream": ""
