- event ||= item
- event.all_day ? date = event.start : date = event.start.in_time_zone(current_timezone(current_user))
%div{:id => "#{dom_id event}"}
  .card.card-calendar{:style => "background-color:#{event.parent.background_color}; border-color: darken(#{event.parent.background_color}); color:#{event.parent.text_color};"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-calendar3-range
      %h5.card-title
        - if current_user || event.all_day?
          = link_to event.summary, calendar_by_day_path(event.parent, year: date.year, month: date.month, day: date.day, anchor: event.class.to_s + "_" + event.id.to_s)
        - else
          %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
            = link_to event.summary, calendar_by_day_path(event.parent, year: date.year, month: date.month, day: date.day, anchor: event.class.to_s + "_" + event.id.to_s), "data-update-link-data-params-with-local-time-target": "link"
      %span#collaborators-list
        = link_to event.owner_handle, user_path(event.owner), class: "me-1"
    .card-body
      .mb-3
        %p
          %strong Calendar:
          = link_to event.parent.title, calendar_path(event.parent)
        %p
          %strong Location:
          = event.location
        %p
          %strong Start:
          = pretty_event_start_time(event, current_user)
        %p
          %strong End:
          = pretty_event_end_time(event, current_user)
        = truncate_actiontext_html(event.description.to_s, max_length: 300, read_more_path: calendar_path(event.parent)).html_safe
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          - if event.has_edit_privileges(current_user)
            %strong.me-1>
              = event.status
          - if current_user || event.all_day?
            = link_to calendar_by_day_path(event.parent, year: date.year, month: date.month, day: date.day, anchor: event.class.to_s + "_" + event.id.to_s) do
              %i.bi.bi-calendar3-range>
              Show event
          - else
            %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
              = link_to calendar_by_day_path(event.parent, year: date.year, month: date.month, day: date.day, anchor: event.class.to_s + "_" + event.id.to_s), "data-update-link-data-params-with-local-time-target": "link" do
                %i.bi.bi-calendar3-range>
                Show event

