- @current_user ||= current_user
- if @user_calendar
  %p
    %strong Calendar:
    = link_to event.parent.title, calendar_path(event.parent), class: link_class
%p
  %strong Location:
  = event.location
%p
  %strong Start:
  = pretty_event_start_time(event, @current_user)
%p
  %strong End:
  = pretty_event_end_time(event, @current_user)
= event.description
.mt-5.table-responsive
  %table.w-100
    %tbody
      %tr
        %td.align-bottom
          %small.update-date.text-nowrap.float-end
            Updated #{record_updated(event, @current_user)}
