- @current_user ||= current_user
= form_for([@calendar, @event]) do |form|
  = render 'error_messages', object: @event, object_name: 'this event'
  = form.hidden_field :whodunnit, value: @current_user.id
  .mb-3
    = form.label :summary, style: "display: block", class: "form-label"
    = form.text_field :summary, class: "form-control form-control-sm" + input_class
  .mb-3
    = form.label :location, style: "display: block", class: "form-label"
    = form.text_field :location, class: "form-control form-control-sm" + input_class
  %div{"data-controller" => "linked-datepickers"}
    .row.mb-4
      .col
        = form.label :start, style: "display: block", class: "form-label"
        #linkedPickers1.input-group.input-group-sm
          = form.text_field :start, class: "form-control form-control-sm" + input_class, value: pretty_picker_start_time(@event, @current_user, @current_date), data: { "linked-datepickers-target": "start" }
          %span#datetimepicker.input-group-text
            %i.bi.bi-calendar-fill
      .col
        = form.label :end, style: "display: block", class: "form-label"
        #linkedPickers2.input-group.input-group-sm
          = form.text_field :end,class: "form-control form-control-sm" + input_class, value: pretty_picker_end_time(@event, @current_user, @current_date), data: { "linked-datepickers-target": "end" }
          %span.input-group-text
            %i.bi.bi-calendar-fill
      .mt-2.mb-2
        = form.label :all_day, class: "form-check-label"
        = form.check_box :all_day, data: { "action": "click->linked-datepickers#toggle", "linked-datepickers-target": "toggle" }, "class": "form-check-input"
      %div{:class => "form-text tz-details #{light_text_class}"}
        = link_to @current_user.time_zone, edit_user_registration_path(anchor: 'preferences'), class: link_class
        TimeZone
  #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@event.id}", "data-record-type" => "Event"}
    = form.label :description, style: "display: block", class: "form-label"
    = form.rich_text_area :description, class: "form-control" + input_class
  - if action_name == 'new' or @new.present?
    .mb-3
      = form.check_box :create_another, class: "form-check-input"
      = form.label :create_another, "Create another", class: "form-check-label"
  = form.hidden_field :month, value: @current_date.month
  = form.hidden_field :year, value: @current_date.year
  = form.hidden_field :day, value: @current_date.day
  = form.hidden_field :user_calendar, value: @user_calendar
  = hidden_field_tag "pagination[page]", "#{@page}"
  .mb-3
    = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
