= turbo_stream.update "event_modal_body" do
  = render "controller_alerts"
  = render @event
  %span#edit-links
    = render 'events/edit_section', record: @event
  = debug(params) if Rails.env.development?
= turbo_stream.update "event_modal_title" do
  %h5#modalLiveLabel.modal-title= @event.summary
= turbo_stream.update "calendar-monthly-events" do
  - @weeks = Calendar.generate_calendar_grid(@current_date.year, @current_date.month)
  - @monthly_events = @calendar.get_events_for(@weeks.flatten, current_timezone(current_user), 5) unless @user_calendar
  - @monthly_events = current_user.get_events_for(@weeks.flatten, current_timezone(current_user), 5) if @user_calendar
  = render 'calendars/monthly_events'
= turbo_stream.update "calendar-daily-events" do
  - @daily_events = Array.wrap(current_user.get_events_for([@current_date], current_timezone(current_user))[@current_date]).paginate(page: (@page == "" ? 1 : @page), per_page: 12) if @user_calendar
  - @daily_events = Array.wrap(@calendar.get_events_for([@current_date], current_timezone(current_user))[@current_date]).paginate(page: (@page == "" ? 1 : @page), per_page: 12) unless @user_calendar
  = render 'calendars/daily_events'
