= render "event_modal", title: @event.summary, background_color: @calendar.background_color, text_color: @calendar.text_color do
  = render "controller_alerts"
  = render @event
  %span#edit-links
    = render 'events/edit_section', record: @event
