= link_to update_index_chats_path, class: link_class, data: { turbo_method: "post" } do
  %i.bi.bi-caret-left-fill>
  Back
- if @preferences.pin
  = link_to unpin_chat_path(@chat), class: link_class + "float-end", data: { turbo_method: "post" } do
    %i.bi.bi-pin-angle-fill>
    Unpin
- else
  = link_to pin_chat_path(@chat), class: link_class + "float-end", data: { turbo_method: "post" } do
    %i.bi.bi-pin-angle-fill>
    Pin
= link_to hide_chat_path(@chat), class: link_class + "float-end me-1", data: { turbo_method: "post" } do
  %i.bi.bi-x-circle>
  Hide
