- recieved_real_time ||= false
- user ||= current_user
- preference ||= @all_preferences[i]
- preference.pin ? pinned_class = "pinned" : pinned_class = "unpinned"
- if recieved_real_time
  %div{:class => "chat_index_item_#{chat.id} chat_index_item  #{pinned_class}", "data-controller" => "real-time-chat-index", "data-real-time-chat-index-id" => "chat_index_item_#{chat.id}", :id => "chat_index_item_#{chat.id}"}
    = render 'chats/chat_index_item_link', user: user, preference: preference, chat: chat
- else
  %div{:class => "chat_index_item_#{chat.id} chat_index_item  #{pinned_class}", :id => "chat_index_item_#{chat.id}"}
    = render 'chats/chat_index_item_link', user: user, preference: preference, chat: chat

