= link_to update_show_chat_path(chat), class: 'chat-link', data: { turbo_method: "post" } do
  %li{:class => "list-group-item d-flex justify-content-between align-items-start chat-item #{chat_index_item_class(user)}"}
    .me-auto
      .fw-bold
        - if preference.pin
          %i.bi.bi-pin-angle-fill
        - if chat.groups_count > 0
          %i.bi.bi-people-fill
        = chat.participant_display(user)
      %div{:id => "message_last_#{chat.id}"}
        - if chat.messages.last
          %small
            .message-content.mb-1.mt-1
              = sanitize Kramdown::Document.new(chat.messages.last.content).to_html
            .updated_date_text_class
              = record_created(chat.messages.last, user)
        - else
          %small.updated_date_text_class No messages
    - if preference.unread_messages > 0
      %span.badge.bg-secondary.rounded-pill= preference.unread_messages
