= render "controller_alerts"
.mb-3{"data-controller": "autocomplete", "data-autocomplete-query-type": "chats"}
  = form_with url: chats_path, method: "post", class: "input-group input-group-sm" do |form|
    = form.text_field :participant, class: "form-control form-control-sm dropdown-toggle custom-placeholder" + input_class, placeholder: "Enter username or group name to start chat", "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown"
    %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
    = form.submit "@User", class: "btn btn-outline-secondary btn-sm", "data-autocomplete-target": "btn"
    = form.submit "Group", class: "btn btn-outline-secondary btn-sm", "data-autocomplete-target": "groupbtn"
