.vh-100.overflow-auto
  .mb-3
    %ul#chats.list-group
      = turbo_stream_from current_user, "chat_index_item"
      - @chats.each_with_index do |chat, i|
        = render "chats/chat_index_item", chat: chat, i: i
  %div{"data-controller" => "chat-pagination"}
    %div{"data-chat-pagination-target" => "pagination"}
      = will_paginate @decks, list_classes: %w(pagination pagination-sm justify-content-center)
