%div{"data-controller" => "messages-pagination", "data-messages-pagination-id" => "#{@chat.id}"}
  %div{"data-messages-pagination-target" => "pagination"}
    = will_paginate @messages, list_classes: %w(pagination pagination-sm justify-content-center d-none)
    %div
