#chat-show-hide-link
  = render 'chats/chat_action_links'
%br/
.position-relative
  .position-absolute.top-0.start-50.translate-middle
    %h5
      - if @chat.groups_count > 0
        %i.bi.bi-people-fill
      = @chat.participant_display(current_user)
%hr.chat-divider/
#messages.vh-100.overflow-auto{"data-action" => "scroll->chat-messages#onScroll", "data-chat-messages-id" => "#{@chat.id}", "data-chat-messages-unread" => "#{@preferences.unread_messages}", "data-controller" => "chat-messages"}
  = render 'list_messages'
  = turbo_stream_from @chat, current_user, "chat_messages"
#messages-pagination
  = render 'messages_pagination'
  = render 'messages/create_message'
