%div{:class => "card #{card_class}"}
  .card-body
    = form_with(model: help_section) do |form|
      = render 'error_messages', object: help_section, object_name: 'this help section'
      .mb-3
        = form.label :title, style: "display: block", class: "form-label"
        = form.text_field :title, class: "form-control form-control-sm" + input_class
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{help_section.id}", "data-record-type" => "HelpSection"}
        = form.label :content, style: "display: block", class: "form-label"
        = form.rich_text_area :content, class: "form-control"+ input_class
      .mb-3
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
