- provide(:title, 'Edit Help Section')
.container-xxl.g-0
  %span#edit-notice
    = turbo_stream_from @help_section, "edit_notice"
  %h1 Edit Help Section
  = render "form", help_section: @help_section
  %br/
  .mb-3
    = button_to "Delete Help Section", @help_section, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
