.calendar{:id => "#{dom_id calendar}"}
  %h1.card-title.mb-3
    = calendar.title
  .float-end
    %span.float-end{:id => "calendar-stars-#{calendar.id}"}
      %span{:id => "#{calendar.type.downcase}-stars-show-#{calendar.id}"}
        = render 'stars/stars_show', record: calendar
    %br/
    #edit-links.mt-2
      = render 'calendars/edit_section', record: calendar
  %span#collaborators-list
    = render 'collaborations/collaborators_list', record: calendar
  %br/
  .mt-2
    = calendar.description
  %br/
  %h3
    - if defined?(view) && view == 'month'
      = @current_date.strftime("%B") + " " + @current_date.strftime("%Y")
    - elsif defined?(view) && view == 'day'
      = @current_date.strftime("%A") + ", " + @current_date.strftime("%B") + " " + @current_date.strftime("%d") + ", " + @current_date.strftime("%Y")
  - if defined?(view) && view == 'month'
    = link_to calendar_path(@calendar, year: @prev_month.year.to_s, month: @prev_month.month.to_s), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-caret-left-fill>
      Previous
    = link_to calendar_path(@calendar, year: @next_month.year.to_s, month: @next_month.month.to_s), class: "btn btn-secondary btn-sm me-1" do
      Next
      %i.bi.bi-caret-right-fill
    = link_to calendar_path(@calendar), class: "btn btn-secondary btn-sm" do
      %i.bi.bi-calendar-event
      Today
  - elsif defined?(view) && view == 'day'
    = link_to calendar_by_day_path(@calendar, year: @prev_day.year.to_s, month: @prev_day.month.to_s, day: @prev_day.day.to_s), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-caret-left-fill>
      Previous
    = link_to calendar_by_day_path(@calendar, year: @next_day.year.to_s, month: @next_day.month.to_s, day: @next_day.day.to_s), class: "btn btn-secondary btn-sm me-1" do
      Next
      %i.bi.bi-caret-right-fill
    = link_to calendar_by_day_path(@calendar), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-calendar-event
      Today
    = link_to calendar_path(@calendar, year: @current_date.year, month: @current_date.month), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-calendar2-fill
      By Month
  - if defined?(view) && view == 'month'
    = form_with url: calendar_path(@calendar), method: :get, data: { controller: "calendar-date-form", action: "submit->calendar-date-form#submit", "calendar-date-form-path": "/calendars/#{@calendar.id}" }, local: true do
      .input-group.mb-2.mt-2
        %span.d-flex{"data-calendar-date-form-target" => "date"}
          %input{"aria-describedby" => "button-addon", "aria-label" => "Go to date", :class => "form-control form-control-sm col-auto calendar-date-input-form #{input_class}", :placeholder => "Go to date", :style => "max-width:100px;", :type => "text", :value => "#{@current_date.strftime('%b %d, %Y')}"}/
          %button#button-addon.btn.btn-sm.btn-outline-secondary.calendar-date-button-form{:type => "button"}
            %i.bi.bi-calendar-fill
        %button.btn.btn-sm.btn-secondary{:type => "submit"} Go to Date
  - elsif defined?(view) && view == 'day'
    = form_with url: calendar_path(@calendar), method: :get, data: { controller: "calendar-date-form", action: "submit->calendar-date-form#submit", "calendar-date-form-path": "/calendars/#{@calendar.id}/by_day" }, local: true do
      .input-group.mb-2.mt-2
        %span.d-flex{"data-calendar-date-form-target" => "date"}
          %input{"aria-describedby" => "button-addon", "aria-label" => "Go to date", :class => "form-control form-control-sm col-auto calendar-date-input-form #{input_class}", :placeholder => "Go to date", :style => "max-width:100px;", :type => "text", :value => "#{@current_date.strftime('%b %d, %Y')}"}/
          %button#button-addon.btn.btn-sm.btn-outline-secondary.calendar-date-button-form{:type => "button"}
            %i.bi.bi-calendar-fill
        %button.btn.btn-sm.btn-secondary{:type => "submit"} Go to Date
  - if @current_user
    %div{:class => "form-text #{light_text_class}"}
      = link_to @current_user.time_zone, edit_user_registration_path(anchor: 'preferences'), class: link_class
      TimeZone
  - else
    .form-text
      = local_time(DateTime.current, '%Z')
      TimeZone
  - if defined?(view) && view == 'month'
    %span#calendar-monthly-events
      = render 'calendars/monthly_events'
  - elsif defined?(view) && view == 'day'
    %span#calendar-daily-events
      = render 'calendars/daily_events'
  - if action_name == 'show' and controller_name == 'calendars'
    .mt-3.table-responsive
      %table.w-100
        %tbody
          %tr
            %td
              %small
                %span#tags-list
                  = render 'tags/item_tags_list', record: calendar
            %td.align-bottom
              %small{:class => "update-date text-nowrap float-end#{updated_date_text_class}"}
                Updated #{item_updated(calendar)}
- if !current_user && @current_user.nil?
  - if defined?(view) && view == 'month'
    %div{"data-controller" => "get-local-time-events", "data-get-local-time-events-calendar-id" => "#{@calendar.id}", "data-get-local-time-events-day" => "#{@current_date.day}", "data-get-local-time-events-month" => "#{@current_date.month}", "data-get-local-time-events-view" => "monthly", "data-get-local-time-events-year" => "#{@current_date.year}"}
  - elsif defined?(view) && view == 'day'
    %div{"data-controller" => "get-local-time-events", "data-get-local-time-events-calendar-id" => "#{@calendar.id}", "data-get-local-time-events-day" => "#{@current_date.day}", "data-get-local-time-events-month" => "#{@current_date.month}", "data-get-local-time-events-page" => "#{@page}", "data-get-local-time-events-view" => "daily", "data-get-local-time-events-year" => "#{@current_date.year}"}
  #event_reload
