- calendar ||= item
%div{:id => "#{dom_id calendar}"}
  .card.card-calendar{:style => "background-color:#{calendar.background_color}; border-color: darken(#{calendar.background_color}); color:#{calendar.text_color};"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-calendar3
      %h5.card-title
        = link_to calendar.title, calendar, class: "text-decoration-none text-reset"
      .float-end
        %span{:id => "calendar-stars-#{calendar.id}"}
          %span{:id => "#{calendar.type.downcase}-star-#{calendar.id}"}
            = render 'stars/star', record: calendar
      %span#collaborators-list
        = render 'collaborations/owner', record: calendar
    .card-body
      .mb-3
        = truncate_actiontext_html(calendar.description.to_s, max_length: 300, read_more_path: calendar_path(calendar)).html_safe
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          - if calendar.has_edit_privileges(current_user)
            %strong.me-1>
              = calendar.status
          = link_to calendar do
            %i.bi.bi-calendar2-range>
            Show calendar
