- if @daily_events.present?
  - @daily_events.each do |event|
    .card.card-calendar.event.mt-2.mb-1{:style => "background-color:#{event.parent.background_color}; border-color: darken(#{event.parent.background_color}); color:#{event.parent.text_color};"}
      .card-header
        %h5{:id => "#{event.class.to_s + "_" + event.id.to_s}"}
          - if event.is_a? Event
            = event.summary
          - elsif event.is_a? RecurringEvent
            %i.bi.bi-arrow-repeat
            = event.summary
      .card-body
        - if event.is_a? Event
          = render 'events/event', event: event
        - elsif event.is_a? RecurringEvent
          = render 'recurring_events/recurring_event', recurring_event: event
      %span#edit-links
        - if event.is_a? Event
          = render 'events/edit_section', record: event
        - elsif event.is_a? RecurringEvent
          = render 'recurring_events/edit_section', record: event
