- if record.has_edit_privileges(current_user)
  %small
    %strong.me-1>
      = record.status
    = link_to edit_calendar_path(record), class: "me-1" + link_class do
      %i.bi.bi-pencil-fill<>
      Edit calendar
    = link_to new_calendar_event_path(record, month: @current_date&.month, year: @current_date&.year, day: @current_date&.day, page: @page), class: "me-1" + link_class, data: { turbo_frame: 'remote_modal' } do
      %i.bi.bi-plus<>
      Add event
    %span.d-block.d-md-none
    = link_to new_calendar_recurring_event_path(record, month: @current_date&.month, year: @current_date&.year, day: @current_date&.day, page: @page), class: "me-1" + link_class, data: { turbo_frame: 'remote_modal' } do
      %i.bi.bi-arrow-repeat<>
      Add recurring event
    = link_to calendar_path(record, format: "ics"), class: link_class do
      %i.bi.bi-shuffle<>
      Export ICS
