%div{:class => "card card-calendar #{card_class}"}
  .card-body
    = form_with(model: calendar) do |form|
      = render 'error_messages', object: calendar, object_name: 'this calendar'
      = form.hidden_field :whodunnit, value: current_user.id
      .mb-3
        = form.label :title, style: "display: block", class: "form-label"
        = form.text_field :title, class: "form-control form-control-sm" + input_class
      .mb-3
        = form.label :visibility, style: "display: block", class: "form-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 0, class: "form-check-input", :checked => true
          = form.label "Private", for: "calendar_visibility_0", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 1, class: "form-check-input"
          = form.label "Internal", for: "calendar_visibility_1", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 2, class: "form-check-input"
          = form.label "Public", for: "calendar_visibility_2", style: "display: block", class: "form-check-label"
      = render 'collaborations/item_form', record: calendar, form: form
      .mb-3{"data-controller" => "color-picker"}
        = form.label :background_color, style: "display: block", class: "form-label"
        = form.hidden_field :background_color, value: (calendar.background_color? ? calendar.background_color : "#000060"), "data-color-picker-target": "input"
        %div{"data-color-picker-target" => "button"}
      .mb-3{"data-controller" => "color-picker"}
        = form.label :text_color, style: "display: block", class: "form-label"
        = form.hidden_field :text_color, value: (calendar.text_color? ? calendar.text_color : "#C8CFD7"), "data-color-picker-target": "input"
        %div{"data-color-picker-target" => "button"}
      .mb-3
        = form.label :description, style: "display: block", class: "form-label"
        = form.text_area :description, class: "form-control form-control-sm" + input_class
      = render 'tags/item_form', record: calendar, form: form
      %div
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
