#calendar.calendar
  %h3
    - if defined?(view) && view == 'month'
      = @current_date.strftime("%B") + " " + @current_date.strftime("%Y")
    - elsif defined?(view) && view == 'day'
      = @current_date.strftime("%A") + ", " + @current_date.strftime("%B") + " " + @current_date.strftime("%d") + ", " + @current_date.strftime("%Y")
  - if defined?(view) && view == 'month'
    = link_to user_calendar_path(@calendar, year: @prev_month.year.to_s, month: @prev_month.month.to_s), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-caret-left-fill>
      Previous
    = link_to user_calendar_path(@calendar, year: @next_month.year.to_s, month: @next_month.month.to_s), class: "btn btn-secondary btn-sm me-1" do
      Next
      %i.bi.bi-caret-right-fill
    = link_to user_calendar_path(@calendar), class: "btn btn-secondary btn-sm" do
      %i.bi.bi-calendar-event
      Today
  - elsif defined?(view) && view == 'day'
    = link_to user_calendar_by_day_path(@calendar, year: @prev_day.year.to_s, month: @prev_day.month.to_s, day: @prev_day.day.to_s), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-caret-left-fill>
      Previous
    = link_to user_calendar_by_day_path(@calendar, year: @next_day.year.to_s, month: @next_day.month.to_s, day: @next_day.day.to_s), class: "btn btn-secondary btn-sm me-1" do
      Next
      %i.bi.bi-caret-right-fill
    = link_to user_calendar_by_day_path(@calendar), class: "btn btn-secondary btn-sm" do
      %i.bi.bi-calendar-event
      Today
    = link_to user_calendar_path(@calendar, year: @current_date.year, month: @current_date.month), class: "btn btn-secondary btn-sm me-1" do
      %i.bi.bi-calendar2-fill
      By Month
  - if defined?(view) && view == 'month'
    = form_with url: user_calendar_path, method: :get, data: { controller: "calendar-date-form", action: "submit->calendar-date-form#submit", "calendar-date-form-path": "/calendar" }, local: true do
      .input-group.mb-2.mt-2
        %span.d-flex{"data-calendar-date-form-target" => "date"}
          %input{"aria-describedby" => "button-addon", "aria-label" => "Go to date", :class => "form-control form-control-sm col-auto calendar-date-input-form #{input_class}", :placeholder => "Go to date", :style => "max-width:100px;", :type => "text", :value => "#{@current_date.strftime('%b %d, %Y')}"}/
          %button#button-addon.btn.btn-sm.btn-outline-secondary.calendar-date-button-form{:type => "button"}
            %i.bi.bi-calendar-fill
        %button.btn.btn-sm.btn-secondary{:type => "submit"} Go to Date
  - elsif defined?(view) && view == 'day'
    = form_with url: user_calendar_path, method: :get, data: { controller: "calendar-date-form", action: "submit->calendar-date-form#submit", "calendar-date-form-path": "/calendar/by_day" }, local: true do
      .input-group.mb-2.mt-2
        %span.d-flex{"data-calendar-date-form-target" => "date"}
          %input{"aria-describedby" => "button-addon", "aria-label" => "Go to date", :class => "form-control form-control-sm col-auto calendar-date-input-form #{input_class}", :placeholder => "Go to date", :style => "max-width:100px;", :type => "text", :value => "#{@current_date.strftime('%b %d, %Y')}"}/
          %button#button-addon.btn.btn-sm.btn-outline-secondary.calendar-date-button-form{:type => "button"}
            %i.bi.bi-calendar-fill
        %button.btn.btn-sm.btn-secondary{:type => "submit"} Go to Date
  %div{:class => "form-text #{light_text_class}"}
    = link_to current_user.time_zone, edit_user_registration_path(anchor: 'preferences'), class: link_class
    TimeZone
  - if defined?(view) && view == 'month'
    %span#calendar-monthly-events
      = render 'calendars/user_monthly_events'
  - elsif defined?(view) && view == 'day'
    %span#calendar-daily-events
      = render 'calendars/user_daily_events'
