.table-responsive.mt-3
  %table{:class => "table#{table_class} calendar"}
    %thead
      %tr
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Sunday
          %span.d-none.d-sm-block.d-md-none Sun
          %span.d-block.d-sm-none S
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Monday
          %span.d-none.d-sm-block.d-md-none Mon
          %span.d-block.d-sm-none M
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Tuesday
          %span.d-none.d-sm-block.d-md-none Tue
          %span.d-block.d-sm-none T
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Wednesday
          %span.d-none.d-sm-block.d-md-none Wed
          %span.d-block.d-sm-none W
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Thursday
          %span.d-none.d-sm-block.d-md-none Thu
          %span.d-block.d-sm-none T
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Friday
          %span.d-none.d-sm-block.d-md-none Fri
          %span.d-block.d-sm-none F
        %th.text-center.col-1{:scope => "col"}
          %span.d-none.d-md-block Saturday
          %span.d-none.d-sm-block.d-md-none Sat
          %span.d-block.d-sm-none S
    %tbody
      - @weeks.each do |week|
        %tr
          - week.each do |day|
            %td{:class => "#{calendar_extra_day_class unless day.month == @current_date.month}"}
              = link_to user_calendar_by_day_path(year: day.year, month: day.month, day: day.day), method: :get, class: "" + calendar_day_class(day) do
                = day.day
              - if @monthly_events[day].present?
                - @monthly_events[day].each do |event|
                  - if (@monthly_events[day].count < 5 || !event.equal?(@monthly_events[day].last))
                    .event.p-1.m-1.d-none.d-sm-block{:style => "background-color:#{event.parent.background_color}; border-color: darken(#{event.parent.background_color}); color:#{event.parent.text_color};"}
                      - if event.is_a? Event
                        = link_to event.summary, calendar_event_path(event.parent, event, user_calendar: @user_calendar, year: @current_date.year, month: @current_date.month, day: @current_date.day), data: { turbo_frame: 'remote_modal' }
                      - elsif event.is_a? RecurringEvent
                        = link_to calendar_recurring_event_path(event.parent, event, user_calendar: @user_calendar, tz: @tz, year: @current_date.year, month: @current_date.month, day: @current_date.day, event_year: event.start.year, event_month: event.start.month, event_day: event.start.day), data: { turbo_frame: 'remote_modal' } do
                          %i.bi.bi-arrow-repeat
                          = event.summary
                - if @monthly_events[day].count >= 5
                  = link_to user_calendar_by_day_path(year: day.year, month: day.month, day: day.day), method: :get, class: link_class do
                    %i.bi.bi-calendar3
                    View all events
                .event.event-xs.d-block.d-sm-none.float-end{:style => "background-color:#{@monthly_events[day].first.parent.background_color}; border-color: darken(#{@monthly_events[day].first.parent.background_color}); color:#{@monthly_events[day].first.parent.text_color};"}
