- provide(:title, 'Edit Calendar')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %span#edit-notice
        = turbo_stream_from @calendar, "edit_calendar"
      %h1 Edit Calendar
      = render "form", calendar: @calendar
      %br/
      - if @calendar.has_owner_privileges(current_user)
        .mb-3
          = button_to "Delete Calendar", @calendar, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
      .mb-3
        = link_to "Show calendar", @calendar, class: link_class
