- provide(:title, 'New Calendar')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %h1 New Calendar
      = render "form", calendar: @calendar
      %br/
