.form-label.mb-2 Tags
- if (record and record.tags_count > 0)
  .mb-2.clearfix
    - record.tags.each do |tag|
      .float-start.mb-1.me-1
        = form_with model: @tag, url: remove_tags_path(record.id, record.type), method: "patch" do |form|
          = form.hidden_field :tag_id, value: tag.id
          = form.button nil, class: "btn btn-sm btn-danger" do
            = tag.name
            %i.bi.bi-x-lg
= form_with model: @tag, url: add_tags_path(record.id, record.type), method: "patch" do |form|
  = render 'error_messages', object: tag, object_name: 'this tag'
  .input-group{ "data-controller" => "autocomplete", "data-autocomplete-query-type" => "tags" }
    = form.text_field :tag_name, class: "form-control form-control-sm dropdown-toggle custom-placeholder" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown"
    %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
    = form.submit "Add Tag", class: "btn btn-primary btn-sm", "data-autocomplete-target": "btn"
  %div{:class => "form-text mb-3 #{light_text_class}"} Only letters, numbers, dashes, underscores, and pluses.
