- record.tags.sort_by(&:name).each do |tag|
  = link_to tag.name, tag, class: 'tag-list-item me-1' + link_class
- if record.has_edit_privileges(current_user) and record.tags.count == 0
  = link_to edit_item_list_tags_path(record_id: record.id, record_type: record.type), class: link_class, data: { turbo_frame: 'remote_modal' } do
    %i.bi.bi-tag-fill<>
    Add Tags

- elsif record.has_edit_privileges(current_user)
  = link_to edit_item_list_tags_path(record_id: record.id, record_type: record.type), class: link_class, data: { turbo_frame: 'remote_modal' } do
    %i.bi.bi-tag-fill<>
    Edit tags

