%div{"data-controller" => "remove-nested-form-item"}
  .float-start.mb-1.me-1
    = fields_for "#{record.type.downcase}[taggings_attributes][#{tagging.persisted? ? tagging.id : Time.now.to_i }]", tagging do |ff|
      = button_tag type: "button", class: "btn btn-sm btn-danger", data: { action: "remove-nested-form-item#removeItem" } do
        = tagging.tag.name
        %i.bi.bi-x-lg
      = ff.hidden_field :tag_name
      = ff.hidden_field :id
      = ff.hidden_field :tag_id
      = ff.hidden_field :_destroy
