#item_tags_notice
.form-label.mb-2 Tags
#item_tags.mb-2.clearfix
  - record.taggings.order_tag_name.each do |tagging|
    = render "tags/item_edit_tags_form", record: record, tagging: tagging
.input-group.mb-3{"data-add-nested-form-item-record-type" => "#{record.type}", "data-controller" => "add-nested-form-item autocomplete", "data-autocomplete-query-type" => "tags"}
  = text_field_tag(:tag_name, nil, class: "form-control form-control-sm dropdown-toggle" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown")
  %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
  = button_tag type: "button", class: "btn btn-primary btn-sm", data: { action: "add-nested-form-item#addTag", "autocomplete-target": "btn" } do
    %i.bi.bi-plus
    Add Tag
