= turbo_stream.update "remote_modal_body" do
  - if notice
    .alert.alert-primary.alert-dismissible{:role => "alert"}
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      = notice
  = render "form", tag: @tag, record: @record
  = debug(params) if Rails.env.development?
= turbo_stream.update "tags-list" do
  = render 'item_tags_list', record: @record
