%tr{:id => "#{dom_id support_comment}"}
  %td
    .mb-3
      %span.badge.badge.bg-dark.bg-light.float-end
        User Comment
        %i.bi.bi-chat-left
      %strong From:
      - if !support_comment.creator.nil?
        = link_to support_comment.creator_handle,               |
          user_path(support_comment.creator), class: link_class |
      - else
        [Deleted User Account]
      (#{support_comment.user_email})
    .mb-3
      %strong Submitted:
      = record_created(support_comment)
    .mb-3.text-break
      - if !support_comment.body.nil?
        = support_comment.body
      - else
        = support_comment.rich_text_body
