A new user comment was added to #{@support_issue.display_name} for #{SiteSetting.site_name}.

To view the issue, see user comments, and reply to the user, go to #{support_issue_url(@support_issue)}.

From:
- if User.find_by(id: @support_comment.user_id)
  = @support_comment.creator_handle
- else
  [Deleted User Account]
(#{@support_comment.user_email})

Submitted: #{@support_comment.created_at.strftime('%b %d, %Y %I:%M%p %Z')}
- if !@support_comment.rich_text_body.nil?
  = @support_comment.rich_text_body.to_plain_text
- else
  = @support_comment.body
