A new internal note was added to #{@support_issue.display_name} for #{SiteSetting.site_name}.

To view the issue, see user comments, and reply to the user, go to #{support_issue_url(@support_issue)}.

From:
- if User.find_by(id: @support_note.user_id)
  = @support_note.creator_handle
- else
  [Deleted User Account]
(#{@support_note.user_email}) Admin

Submitted: #{@support_note.created_at.strftime('%b %d, %Y %I:%M%p %Z')}
- if !@support_note.rich_text_body.nil?
  = @support_note.rich_text_body.to_plain_text
- else
  = @support_note.body
