A new support issue was created for #{SiteSetting.site_name}.

To view the issue, see user comments, and reply to the user, go to #{support_issue_url(@support_issue)}.

From:
- if User.find_by(id: @support_issue.user_id)
  = @support_issue.creator_handle
- else
  [Deleted User Account]
(#{@support_issue.user_email})

Summary: #{@support_issue.summary}

Submitted: #{@support_issue.created_at.strftime('%b %d, %Y %I:%M%p %Z')}
- if !@support_issue.rich_text_body.nil?
  = @support_issue.rich_text_body.to_plain_text
- else
  = @support_issue.body
