- if @deck.has_edit_privileges(current_user)
  .card-footer
    %small
      .mb-2.text-center
        %strong.me-1<>= card.status
        = link_to edit_deck_card_path(card.deck_id, card), class: "me-1" + link_class do
          %i.bi.bi-pencil-fill<>
          Edit card
        = link_to new_deck_card_path(card.deck_id), class: "me-1" + link_class do
          %i.bi.bi-plus<>
          Add card
