- if @deck.has_edit_privileges(current_user)
  %div{"data-controller" => "sort", "data-sort-parent" => "#{@deck.id}", "data-sort-record-type" => "Card", "data-sort-start-position" => "#{cards&.first&.display_position}"}
    - cards.each do |card|
      = render card
- else
  - cards.each do |card|
    = render card
