%div{:id => "#{dom_id card}"}
  %div{:class => "card notecard #{card_class} mb-4"}
    - if action_name == 'show'
      = render 'cards/flip_card', card: @card
    - else
      = render 'cards/no_flip_card', card: card
    = render 'cards/card_footer', card: card
