- card ||= item
%div{:id => "#{dom_id card}"}
  %div{:class => "card card-card #{card_class}"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-paperclip
      %span#collaborators-list
        = render 'collaborations/owner', record: card
    .card-body
      .mb-3
        = truncate_actiontext_html(card.front.to_s, link_class: link_class, max_length: 300, read_more_path: deck_card_path(card.parent, card)).html_safe
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          - if card.has_edit_privileges(current_user)
            %strong.me-1<>
              = card.status
          = link_to deck_card_path(card.parent, card), class: "me-1" + link_class do
            %i.bi.bi-card-text<>
            Show card
