%div{"data-controller" => "flashcards"}
  #flipcard.card-body{"data-action" => "click->flashcards#flip touchstart->flashcards#startTouch touchmove->flashcards#moveTouch touchend->flashcards#endTouch", "data-flashcards-target" => "card"}
    #front.mb-3.text-center{"data-flashcards-target" => "front"}
      = card.front
    #back.mb-3.text-center{"data-flashcards-target" => "back"}
      = card.back
