%div{:class => "card card-deck #{card_class}"}
  .card-body
    = form_for([@deck, @card]) do |form|
      = render 'error_messages', object: @card, object_name: 'this card'
      = form.hidden_field :whodunnit, value: current_user.id
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@card.id}", "data-record-type" => "Card"}
        = form.label :front, style: "display: block", class: "form-label"
        = form.rich_text_area :front, class: "form-control" + input_class
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@card.id}", "data-record-type" => "Card"}
        = form.label :back, style: "display: block", class: "form-label"
        = form.rich_text_area :back, class: "form-control" + input_class
      - if action_name == 'new'
        .mb-3
          = form.check_box :create_another, class: "form-check-input"
          = form.label :create_another, "Create another", class: "form-check-label"
      .mb-3
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
