- if @deck.has_edit_privileges(current_user)
  = form_with url: deck_card_update_position_path(card.parent, card, card.display_position - 1), method: "patch", class: "move-up" do |form|
    = form.button nil, class: "btn btn-secondary ms-1  btn-sm float-end"  do
      %i.bi.bi-arrow-up
    = hidden_field_tag "pagination[page]", "#{@cards.current_page}"
    = hidden_field_tag "pagination[update]", "1"
  = form_with url: deck_card_update_position_path(card.parent, card, card.display_position + 1), method: "patch", class: "move-down" do |form|
    = form.button nil, class: "btn btn-secondary btn-sm float-end"  do
      %i.bi.bi-arrow-down
    = hidden_field_tag "pagination[page]", "#{@cards.current_page}"
    = hidden_field_tag "pagination[update]", "1"
