- provide(:title, 'Edit Card')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %span#edit-notice
        = turbo_stream_from @card, "edit_notice"
      %h1 Edit Card
      = render "form", card: [@deck, @card]
      %br/
      - if @card.has_owner_privileges(current_user)
        .mb-3
          = button_to "Delete Card", deck_card_path(@card.deck_id, @card.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
      .mb-3
        = link_to "Show card", deck_card_path(@card.deck_id, @card.id), class: link_class
