- provide(:title, 'Cards')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-8.mb-4
      %h1
        Cards
        = link_to deck_cards_path(@deck, format: "csv"), class: "btn btn-primary btn-sm float-end" do
          %i.bi.bi-shuffle
          Export CSV
        = render 'cards/shuffle'
      %span#cards-list
        = render 'cards/cards_list', cards: @cards
  = will_paginate @cards, list_classes: %w(pagination pagination-sm justify-content-center)
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-8
      = link_to deck_path(@deck.id), class: link_class do
        %i.bi.bi-card-text>
        Back to deck
