- provide(:title, 'New Card')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %h1 New Card
      = render "form", card: [@deck, @card]
      %br/
      = link_to deck_path(@deck.id), class: link_class do
        %i.bi.bi-card-text>
        Back to deck
