- provide(:title, 'Card')
.container-xxl.g-0
  .row
    .col-sm-12.col-md-12.col-lg-1.col-xl-2.col-xxl-2.d-xs-none.d-none.d-lg-block.mt-4.mb-4
      - if !@card.prev_card.nil?
        = link_to deck_card_path(@card.deck_id, @card.prev_card), id: "prev-card" do
          %button.btn.btn-secondary.btn-sm.float-end.btn-prev{:type => "button"}
            %i.bi.bi-caret-left-fill
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      = render @card
      - if !@card.prev_card.nil?
        = link_to deck_card_path(@card.deck_id, @card.prev_card), id: "prev-card" do
          %button.btn.btn-secondary.btn-sm.d-lg-none.d-xl-none.d-xxl-none.mb-4.btn-prev{:type => "button"}
            %i.bi.bi-caret-left-fill
      - if !@card.next_card.nil?
        = link_to deck_card_path(@card.deck_id, @card.next_card), id: "next-card" do
          %button.btn.btn-secondary.btn-sm.float-end.d-lg-none.d-xl-none.d-xxl-none.mb-4.btn-next{:type => "button"}
            %i.bi.bi-caret-right-fill
    .col-sm-12.col-md-12.col-lg-1.col-xl-2.col-xxl-2.d-xs-none.d-none.d-lg-block.mt-4.mb-4
      - if !@card.next_card.nil?
        = link_to deck_card_path(@card.deck_id, @card.next_card), id: "next-card" do
          %button.btn.btn-secondary.btn-sm.btn-next{:type => "button"}
            %i.bi.bi-caret-right-fill
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      = link_to deck_path(@deck.id), class: link_class do
        %i.bi.bi-card-text>
        Back to deck
