= render 'collaborations/owner', record: record
- if current_user
  - record.collaborators.order('lower(username)').each do |collaborator|
    %strong.me-1= link_to collaborator.handle, user_path(collaborator), class: link_class if collaborator != record.owner
  - record.groups.order('lower(name)').each do |group|
    %strong<>
      = link_to group_path(group), class: "me-1" + link_class do
        %i.bi.bi-people-fill
        = group.name

- if record.has_edit_privileges current_user
  = link_to edit_collaborations_path(record.id, record.type, month: @current_date&.month, year: @current_date&.year, day: @current_date&.day), class: link_class + ' me-1', data: { turbo_frame: 'remote_modal' } do
    %i.bi.bi-pencil-square<>
    Edit collaborators

  = link_to collaboration_logs_path(record.route_type, record.id), class: link_class do
    %i.bi.bi-list-columns-reverse<>
    Collaboration Log
