- if @record.has_edit_privileges(current_user)
  .form-label.mb-2 Collaborators
  - if (@record and @record.collaborators_count > 0)
    .mb-2.clearfix
      - @record.collaborators.each do |collaborator|
        .float-start.mb-1.me-1
          = form_with url: remove_collaborator_path(@record.id, @record.type), method: "patch" do |form|
            = form.hidden_field :user_id, value: collaborator.id
            = form.hidden_field :year, value: @current_date.year
            = form.hidden_field :month, value: @current_date.month
            = form.hidden_field :day, value: @current_date.day
            = form.button nil, class: "btn btn-sm btn-danger" do
              = collaborator.handle
              %i.bi.bi-x-lg
  = form_with url: add_collaborator_path(@record.id, @record.type), method: "patch" do |form|
    .input-group.mb-5{ "data-controller" => "autocomplete", "data-autocomplete-query-type" => "users" }
      = form.text_field :username, class: "form-control form-control-sm dropdown-toggle custom-placeholder" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown"
      %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
      = form.hidden_field :year, value: @current_date.year
      = form.hidden_field :month, value: @current_date.month
      = form.hidden_field :day, value: @current_date.day
      = form.submit "Add Collaborator", class: "btn btn-primary btn-sm", "data-autocomplete-target": "btn"
