%div{"data-controller" => "remove-nested-form-item"}
  .float-start.mb-1.me-1
    = fields_for "#{record.type.downcase}[collaborations_attributes][#{collaboration.persisted? ? collaboration.id : Time.now.to_i }]", collaboration do |ff|
      = button_tag type: "button", class: "btn btn-sm btn-danger", data: { action: "remove-nested-form-item#removeItem" } do
        = collaboration.user.handle
        %i.bi.bi-x-lg
      = ff.hidden_field :id
      = ff.hidden_field :user_id
      = ff.hidden_field :_destroy
