%div{"data-controller" => "remove-nested-form-item"}
  .float-start.mb-1.me-1
    = fields_for "#{record.type.downcase}[group_assignments_attributes][#{group_assignment.persisted? ? group_assignment.id : Time.now.to_i }]", group_assignment do |ff|
      = button_tag type: "button", class: "btn btn-sm btn-danger", data: { action: "remove-nested-form-item#removeItem" } do
        = group_assignment.group.name
        %i.bi.bi-x-lg
      = ff.hidden_field :id
      = ff.hidden_field :group_id
      = ff.hidden_field :_destroy
