#item_collaborators_notice
.form-label.mb-2 Collaborators
#item_collaborators.mb-2.clearfix
  - record.collaborations.order_by_username.each do |collaboration|
    = render "collaborations/item_edit_collaborators_form", record: record, collaboration: collaboration
.input-group{"data-add-nested-form-item-record-type" => "#{record.type}", "data-controller" => "add-nested-form-item autocomplete", "data-autocomplete-query-type" => "users"}
  = text_field_tag(:collaborator_username, nil, class: "form-control form-control-sm dropdown-toggle" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown")
  %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
  = button_tag type: "button", class: "btn btn-primary btn-sm", data: { action: "add-nested-form-item#addCollaborator", "autocomplete-target": "btn" } do
    %i.bi.bi-plus
    Add Collaborator
- if action_name == 'edit'
  %div{:class => "form-text#{light_text_class}"}
    Owned by #{record.owner.handle}
#item_groups_notice
.form-label.mb-2.mt-3 Groups
#item_groups.mb-2.clearfix
  - record.group_assignments.order_by_group_name.each do |group_assignment|
    = render "collaborations/item_edit_groups_form", record: record, group_assignment: group_assignment
.input-group.mb-3{"data-add-nested-form-item-record-type" => "#{record.type}", "data-controller" => "add-nested-form-item autocomplete", "data-autocomplete-query-type" => "groups"}
  = text_field_tag(:group_name, nil, class: "form-control form-control-sm dropdown-toggle" + input_class, "data-autocomplete-target" => "input", autocomplete: "off", "data-bs-toggle" => "dropdown")
  %ul.w-75.dropdown-menu{"data-autocomplete-target" => "results", :class => "#{dropdown_class}"}
  = button_tag type: "button", class: "btn btn-primary btn-sm", data: { action: "add-nested-form-item#addGroup", "autocomplete-target": "btn" } do
    %i.bi.bi-plus
    Add Group
