- provide(:title, @record.type + ': Collaboration Log')
.container-xxl.g-0
  %h1
    %i{ class: item_icon_class(@record) }
    = @record.title + ': Collaboration Log'
    = link_to collaboration_logs_path(@record.route_type, @record.id, format: 'csv'), class: "btn btn-primary btn-sm float-end" do
      %i.bi.bi-shuffle
      Export CSV
  .card.mb-3
    .card-body
      %div{ id: @record.id.to_s + "_id" }
        %ul.list-group.list-group-flush
          - @logs.each do |log|
            %li.list-group-item{ class: list_group_item_log_class }
              - if log.user
                = link_to log.user.handle, |
                  user_url(log.user)       |
              - else
                [Deleted User Account](#{log.user_handle})
              = log.action_string
              - if log.collaboration
                - if log.collaboration.class.to_s == 'User'
                  = link_to log.collaboration.handle, user_url(log.collaboration)
                - else
                  = link_to group_url(log.collaboration) do
                    %i.bi.bi-people-fill
                    = log.collaboration.name
              - else
                - if log.collaboration_name.include?('@')
                  [Deleted User Account](#{log.collaboration_name})
                - else
                  [Deleted Group](
                  %i.bi.bi-people-fill<>
                  = "#{log.collaboration_name})"
              on #{pretty_time(log.created_at)}
      %br
  = will_paginate @logs, list_classes: %w(pagination pagination-sm justify-content-center)
  = link_to send("#{@record.member_route_type}_path", @record), class: link_class do
    %i{ class: item_icon_class(@record) }<>
    Back to item
