= render "remote_modal", title: "Edit Collaborators" do
  = render "edit_owner_form", record: @record
  = render "edit_collaborators_form", record: @record
  = render "edit_groups_form", record: @record
