= turbo_stream.update "remote_modal_body" do
  = render "controller_alerts"
  = render "flash_alerts"
  = render "edit_owner_form", record: @record
  = render "edit_collaborators_form", record: @record
  = render "edit_groups_form", record: @record
  = debug(params) if Rails.env.development?
= turbo_stream.update "collaborators-list" do
  = render 'collaborations/collaborators_list', record: @record
= turbo_stream.update "tags-list" do
  = render 'tags/item_tags_list', record: @record
= turbo_stream.update "edit-links" do
  = render "#{@record.route_type}/edit_section", record: @record
