$primary: #006666;
$primary-hover: #005252;
$secondary: #f2c100;
$body-bg: #F4F4F4;
$input-bg: #fff;

$white: #ffffff;
$black: #000000;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $secondary;
$navbar-dark-active-color:          $secondary;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  $white;
$navbar-dark-brand-color:           $white;
$navbar-dark-brand-hover-color:     $secondary;

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $secondary;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $secondary;

$btn-border-radius: 0.125rem;
$btn-border-radius-sm: 0.125rem;
$nav-tabs-border-radius: 0.125rem;
$dropdown-border-radius: 0.125rem;
$pagination-border-radius-sm: 0.125rem;
$input-border-radius-sm: 0.125rem;
$form-select-border-radius-sm: 0.125rem;

$table-bg: $white;
$list-group-bg: $white;

$offcanvas-horizontal-width:        700px;

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: normal;
  src: url('SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: bold;
  src: url('SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: bold;
  src: url('SourceSansPro-BoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 200;
  src: url('SourceSansPro-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: normal;
  src: url('SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 300;
  src: url('SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 300;
  src: url('SourceSansPro-LightItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 600;
  src: url('SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 600;
  src: url('SourceSansPro-SemiBoldItalic.ttf');
}

$font-family-sans-serif: SourceSansPro,'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
$font-family-monospace: SourceSansPro,'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
$font-size-base: 1rem;
$font-size-sm: .85rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.8;
$h3-font-size:                $font-size-base * 1.6;
$h4-font-size:                $font-size-base * 1.4;
$h5-font-size:                $font-size-base * 1.2;
$h6-font-size:                $font-size-base;



@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import "trix/dist/trix";
@import 'actiontext.css';
@import '@simonwep/pickr/dist/themes/classic.min';
@import '@eonasdan/tempus-dominus/dist/css/tempus-dominus.min';



// variables for light mode; dark mode variables are set in the application.html.erb file
:root {
  --sticky-note-bg-color: #FFFFE0;
  --sticky-note-top-color: #fffce0;
  --sticky-note-bottom-color: #fffce0;
  --card-deck-bg-color: #fff;
  --card-deck-top-color: #fcfcfc;
  --card-deck-bottom-color: #fcfcfc;
  --notecard-bg-color: #fff;
  --notecard-bottom-color: #fcfcfc;
  --card-bg-color: #ffffff;
  --trix-link-color: #006666;
  --trix-link-color-hover: #005252;
  --trix-attachment-color: #666;
  --trix-pre-color: #eee;
  --tag-list-item-bg-color: rgba(0,0,0,.05);
  --tag-list-item-color: #333;
  --tag-list-item-bg-color-hover: #000;
  --tag-list-item-color-hover: #ffffff;
  --chat-item-hr: rgba(0, 0, 0, 0.125);
  --td-dark-active-bg: #006666;
  --placeholder-color: #6c757d;
}

* {
  scroll-behavior: smooth;
}

small {
  font-size: $font-size-sm;
}

h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 500;
}

h6, .h6, h5, .h5 {
  font-weight: 600;
}

h6, .h6 {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-secondary {
	color: $white;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &:active {
    color: $white;
  }

  &:focus-visible {
    color: $white;
  }
}

.btn:first-child:active {
  color: $white;
}

.btn-outline-secondary:hover {
  color: $white;
}

.btn-outline-secondary:active .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: $white;
}

.navbar {
  	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link.link-light.active {
  background: none;
  border-bottom: none;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.05rem;
}

.navbar-brand img {
  max-height: 50px;
}

.trix-content .attachment a {
	color: var(--trix-link-color);
	text-decoration: underline;

  &:hover {
    color: var(--trix-link-color-hover);
  }
}

trix-editor .attachment__caption-editor {
  color: #212529;
}

trix-toolbar .trix-button {
	background-color: #FFFFFF;
}

trix-toolbar .trix-button--icon-table {
  padding: 5px;
}

trix-toolbar .trix-button--icon-table::before {
  background-image: url("table.svg");
  top: 3px;
  bottom: 3px;
}

trix-toolbar .trix-button--icon-smiley::before {
  background-image: url("smiley.svg");
  top: 3px;
  bottom: 3px;
}

.trix-content .attachment--preview .attachment__caption {
    color: var(--trix-attachment-color);
}

.trix-content pre {
  background-color: var(--trix-pre-color);
}

.card {
	background-color: var(--card-bg-color);
	border-radius: 0rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sticky-note .card-header {
    background-color: var(--sticky-note-top-color);
}

.sticky-note .card-footer {
    background-color: var(--sticky-note-bottom-color);
}

.sticky-note {
	border: none;
    background-color: var(--sticky-note-bg-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-card {
  background: var(--card-deck-bg-color);
}

.card-card .card-header {
  background: var(--card-deck-bg-color);
}

.card-card .card-footer {
  background: var(--card-deck-bg-color);
}

.card-deck .card-header {
    background-color: var(--card-deck-top-color);
}

.card-deck .card-footer {
    background-color: var(--card-deck-bottom-color);
}

.card-deck {
  	background: var(--card-deck-bg-color);
  	box-shadow:
	    0 1px 1px rgba(0,0,0,0.15),
	    0 10px 0 -5px var(--card-deck-bg-color),
	    0 10px 1px -4px rgba(0,0,0,0.15),
	    0 20px 0 -10px var(--card-deck-bg-color),
	    0 20px 1px -9px rgba(0,0,0,0.15);
}

.notecard {
	background: var(--notecard-bg-color);
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px var(--card-deck-bg-color),
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px var(--card-deck-bg-color),
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.notecard .card-body {
  min-height: 185px;
}

.notecard .card-footer {
    background-color: var(--card-deck-bottom-color);
}

#flipcard {
	cursor: pointer;

  #back {
    display: none;
  }
}

.tag-list-item {
  background-color: var(--tag-list-item-bg-color);
  padding: 4px 8px 4px;
  border-radius: 2px;
  border: none;
  display:inline-block;
  margin-bottom: 5px;
}

a.tag-list-item {
  text-decoration: none;
  color: var(--tag-list-item-color);

  &:hover {
    text-decoration: none;
    color: var(--tag-list-item-color-hover);
    background-color: var(--tag-list-item-bg-color-hover);
  }

}

.update-date {
  margin-bottom: 9px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

a > .list-group-item {
  color: $primary;

  &:hover {
    color: $primary-hover;
  }
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: $primary-hover;
}

.btn-secondary.scroll-top {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 99;
  cursor: pointer;

  &:active {
    color: $white;
  }

  &:focus {
    color: $white;
  }
}

footer hr {
  margin: .8rem 0;
  border: 0;
}

.follower-stats {
  overflow: auto;
  margin-top: 0;
  a {
    float: left;
    padding: 0 10px;
    text-decoration: none;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  strong {
    display: block;
  }
}

.page-not-found {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    font-size: 6.25rem;
  }
  p {
    font-size: 1.563rem;
  }
}

.btn-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chat-item {
  padding: 0.5rem 0rem;
  border: 0.5px solid var(--chat-item-hr);
  border-right-style: none;
  border-left-style: none;
}

.chat-link {
  text-decoration: none;
}

.chat-divider {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
}

.message-content > p {
  margin-bottom: 0rem;
}

.message-row {
  margin-right: 1px;
}

.sort {
  cursor: move !important;

  &:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.hidden {
  display: none;
}

button:focus-visible {
  outline-color: $primary-hover;
}

.calendar .extra-day {
  background-color: var(--tag-list-item-bg-color);
}

.calendar .extra-day-dark {
  background-color: var(--tag-list-item-bg-color);
}

.calendar .day {
  border-radius:50%;
  height: 35px;
  width: 35px;
}

.event-xs {
  height: 15px;
  width: 15px;
}

.card-calendar {
  color: inherit;
}

.card-calendar a {
  color: inherit;
}

.event {
  color: inherit;
  border-radius: 0.125rem;;
}

.event a {
  color: inherit;
  text-decoration: none;
}

ul[id=chats].list-group {
  --bs-list-group-bg: transparent;
}

#calendar-daily-events .event-modal-edit {
  display: none;
}

#remote_modal .event-no-modal-edit {
  display: none;
  color: inherit;
}

.event-no-modal-edit a {
  color: inherit;
}

.calendar-date-input-form {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-left: calc(var(--bs-border-width)* -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.calendar-date-button-form {
  margin-left: calc(var(--bs-border-width)* -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-placeholder::placeholder {
  color: var(--placeholder-color);
}

.unset-link {
  all: unset;
}
