- if record.has_edit_privileges(current_user)
  .card-footer
    %small
      .mb-2.text-center
        %strong.me-1= record.status
        = link_to edit_calendar_recurring_event_path(record.parent, record, user_calendar: @user_calendar, year: @current_date.year, month: @current_date.month, day: @current_date.day, event_year: @event_start&.year, event_month: @event_start&.month, event_day: @event_start&.day), class: link_class + " event-modal-edit me-1", "data-turbo-stream": "" do
          %i.bi.bi-arrow-repeat
          Edit recurring event
        = link_to edit_calendar_recurring_event_path(record.parent, record, user_calendar: @user_calendar, year: @current_date.year, month: @current_date.month, day: @current_date.day, page: @page, event_year: record.start.year, event_month: record.start.month, event_day: record.start.day), class: " event-no-modal-edit me-1", data: { turbo_frame: 'remote_modal' } do
          %i.bi.bi-arrow-repeat
          Edit recurring event
        = button_to calendar_recurring_event_add_exception_path(record.parent.id, record.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, event_year: @event_start&.year, event_month: @event_start&.month, event_day: @event_start&.day), method: :patch, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm event-modal-edit mt-2" do
          Delete Occurrence
        = button_to calendar_recurring_event_add_exception_path(record.parent.id, record.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, page: @page, event_year: record.start.year, event_month: record.start.month, event_day: record.start.day), method: :patch, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm event-no-modal-edit mt-2" do
          Delete Occurrence
