= render "controller_alerts"
%span#edit-notice
  = turbo_stream_from @recurring_event, "edit_notice"
= render "form", event: [@calendar, @recurring_event]
%br/
%hr/
%br/
- if @recurring_event.has_owner_privileges(current_user)
  .mb-3
    = button_to "Delete Recurring Event", calendar_recurring_event_path(@recurring_event.calendar_id, @recurring_event.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, page: @page), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
.mb-3
  = link_to "Show recurring event", calendar_recurring_event_path(@recurring_event.calendar_id, @recurring_event.id, user_calendar: @user_calendar, month: @current_date.month, year: @current_date.year, day: @current_date.day, page: @page, event_year: @event_start&.year, event_month: @event_start&.month, event_day: @event_start&.day), class: link_class, "data-turbo-stream": ""
