- @current_user ||= current_user
= form_for([@calendar, @recurring_event]) do |form|
  = render 'error_messages', object: @recurring_event, object_name: 'this recurring event'
  = form.hidden_field :whodunnit, value: @current_user.id
  .mb-3
    = form.label :summary, style: "display: block", class: "form-label"
    = form.text_field :summary, class: "form-control form-control-sm" + input_class
  .mb-3
    = form.label :location, style: "display: block", class: "form-label"
    = form.text_field :location, class: "form-control form-control-sm" + input_class
  %div{"data-controller" => "rrule-form", "data-rrule-form-offset" => "#{ActiveSupport::TimeZone.new(@current_user.time_zone).utc_offset / 1.hour}"}
    %div{"data-controller" => "linked-datepickers"}
      .row.mb-4
        .col
          = form.label :start, "First Event Start", style: "display: block", class: "form-label"
          #linkedPickers1.input-group.input-group-sm
            = form.text_field :start, class: "form-control form-control-sm" + input_class, value: pretty_picker_start_time(@recurring_event, @current_user, @current_date), data: { "rrule-form-target": "startDateTime", "linked-datepickers-target": "start" }
            %span#datetimepicker.input-group-text
              %i.bi.bi-calendar-fill
        .col
          = form.label :end, "First Event End", style: "display: block", class: "form-label"
          #linkedPickers2.input-group.input-group-sm
            = form.text_field :end,class: "form-control form-control-sm" + input_class, value: pretty_picker_end_time(@recurring_event, @current_user, @current_date), data: { "linked-datepickers-target": "end" }
            %span.input-group-text
              %i.bi.bi-calendar-fill
        .mt-2.mb-2
          = form.label :all_day, class: "form-check-label"
          = form.check_box :all_day, data: { "action": "click->linked-datepickers#toggle", "linked-datepickers-target": "toggle" }, "class": "form-check-input"
        %div{:class => "form-text tz-details #{light_text_class}"}
          = link_to @current_user.time_zone, edit_user_registration_path(anchor: 'preferences'), class: link_class
          TimeZone
    #rrule
      #rrule-freq.row.mb-3
        .col
          %label.form-label{:for => "recurring_event_rrule"} Recurrence Rule
          %select#frequency{:class => "form-select form-select-sm frequency #{input_class}", "data-rrule-form-target" => "frequency"}
            %option{:value => "YEARLY"} YEARLY
            %option{:value => "MONTHLY"} MONTHLY
            %option{:value => "WEEKLY"} WEEKLY
            %option{:value => "DAILY"} DAILY
        .col
      .yearly{"data-rrule-form-target" => "yearly"}
        .row.mb-1
          .col
            %select{:class => "form-select form-select-sm yearly-type #{input_class}", "data-rrule-form-target" => "yearlyType"}
              %option{:value => "on"} By Date in Month
              %option{:value => "onthe"} By nth Day in Month
          .col
        .row.mb-3.yearly-on{"data-rrule-form-target" => "yearlyOn"}
          .col
            %select{:class => "form-select form-select-sm month #{input_class}", "data-rrule-form-target" => "yearlyOnMonth", :disabled => "disabled"}
              %option{:value => "1"} January
              %option{:value => "2"} February
              %option{:value => "3"} March
              %option{:value => "4"} April
              %option{:value => "5"} May
              %option{:value => "6"} June
              %option{:value => "7"} July
              %option{:value => "8"} August
              %option{:value => "9"} September
              %option{:value => "10"} October
              %option{:value => "11"} November
              %option{:value => "12"} December
          .col
            %input{:class => "form-control form-control-sm monthday #{input_class}", "data-rrule-form-target" => "yearlyOnMonthDay", :disabled => "disabled"}/
        .row.mb-3.yearly-onthe{"data-rrule-form-target" => "yearlyOnThe"}
          .col
            %select{:class => "form-select form-select-sm nth #{input_class}", "data-rrule-form-target" => "yearlyOnTheNth", :disabled => "disabled"}
              %option{:value => "1"} 1st
              %option{:value => "2"} 2nd
              %option{:value => "3"} 3rd
              %option{:value => "4"} 4th
              %option{:value => "5"} 5th
              %option{:value => "6"} 6th
              %option{:value => "-1"} Last
          .col
            %select{:class => "form-select form-select-sm day #{input_class}", "data-rrule-form-target" => "yearlyOnTheDay", :disabled => "disabled"}
              %option{:value => "SU"} Sunday
              %option{:value => "MO"} Monday
              %option{:value => "TU"} Tuesday
              %option{:value => "WE"} Wednesday
              %option{:value => "TH"} Thursday
              %option{:value => "FR"} Friday
              %option{:value => "SA"} Saturday
          .col
            .input-group.input-group-sm
              %label{:class => "input-group-text #{input_class}"} Of
              %select{:class => "form-select form-select-sm month #{input_class}", "data-rrule-form-target" => "yearlyOnTheMonth", :disabled => "disabled"}
                %option{:value => "1"} January
                %option{:value => "2"} February
                %option{:value => "3"} March
                %option{:value => "4"} April
                %option{:value => "5"} May
                %option{:value => "6"} June
                %option{:value => "7"} July
                %option{:value => "8"} August
                %option{:value => "9"} September
                %option{:value => "10"} October
                %option{:value => "11"} November
                %option{:value => "12"} December
      .monthly{"data-rrule-form-target" => "monthly"}
        .row.mb-1
          .col
            .input-group.input-group-sm
              %span{:class => "input-group-text #{input_class}"} Every
              %input{:class => "interval form-control form-control-sm #{input_class}", "data-rrule-form-target" => "monthlyInterval", :type => "number", :value => "1"}/
              %span{:class => "input-group-text #{input_class}"} month(s)
          .col
        .row.mb-3
          .col
            %select{:class => "form-select form-select-sm type #{input_class}", "data-rrule-form-target" => "monthlyType"}
              %option{:value => "on"} By Date in Month
              %option{:value => "onthe"} By nth Day in Month
          .col
            %span.monthly-on{"data-rrule-form-target" => "monthlyOn", "data-selector" => "monthly-on"}
              %select{:class => "form-select form-select-sm monthday #{input_class}", "data-rrule-form-target" => "monthlyOnDay", :disabled => "disabled"}
                %option{:value => "1"} 1
                %option{:value => "2"} 2
                %option{:value => "3"} 3
                %option{:value => "4"} 4
                %option{:value => "5"} 5
                %option{:value => "6"} 6
                %option{:value => "7"} 7
                %option{:value => "8"} 8
                %option{:value => "9"} 9
                %option{:value => "10"} 10
                %option{:value => "11"} 11
                %option{:value => "12"} 12
                %option{:value => "13"} 13
                %option{:value => "14"} 14
                %option{:value => "15"} 15
                %option{:value => "16"} 16
                %option{:value => "17"} 17
                %option{:value => "18"} 18
                %option{:value => "19"} 19
                %option{:value => "20"} 20
                %option{:value => "21"} 21
                %option{:value => "22"} 22
                %option{:value => "23"} 23
                %option{:value => "24"} 24
                %option{:value => "25"} 25
                %option{:value => "26"} 26
                %option{:value => "27"} 27
                %option{:value => "28"} 28
                %option{:value => "29"} 29
                %option{:value => "30"} 30
                %option{:value => "31"} 31
            %select{:class => "form-select form-select-sm nth #{input_class}", "data-rrule-form-target" => "monthlyOnTheNth", :disabled => "disabled"}
              %option{:value => "1"} 1st
              %option{:value => "2"} 2nd
              %option{:value => "3"} 3rd
              %option{:value => "4"} 4th
              %option{:value => "5"} 5th
              %option{:value => "6"} 6th
              %option{:value => "-1"} Last
          .col
            %select{:class => "form-select form-select-sm day #{input_class}", "data-rrule-form-target" => "monthlyOnTheDay", :disabled => "disabled"}
              %option{:value => "SU"} Sunday
              %option{:value => "MO"} Monday
              %option{:value => "TU"} Tuesday
              %option{:value => "WE"} Wednesday
              %option{:value => "TH"} Thursday
              %option{:value => "FR"} Friday
              %option{:value => "SA"} Saturday
      .weekly{"data-rrule-form-target" => "weekly", "data-selector" => "weekly"}
        .row.mb-1
          .col
            .input-group.input-group-sm
              %span{:class => "input-group-text #{input_class}"} Every
              %input{:class => "form-control form-control-sm internal #{input_class}", "data-rrule-form-target" => "weeklyInterval", :type => "number", :value => "1"}/
              %span{:class => "input-group-text #{input_class}"} week(s)
          .col
        .row.mb-3
          .days
            .btn-group.btn-group-sm{"data-rrule-form-target" => "weeklyDays", :role => "group"}
              %input#btncheck1.btn-check{:autocomplete => "off", "data-rrule-form-target" => "su", :type => "checkbox", :value => "SU"}/
              %label{:class => "btn #{outline_button_class}>", :for => "btncheck1"} Sunday
              %input#btncheck2.btn-check{:autocomplete => "off", "data-rrule-form-target" => "mo", :type => "checkbox", :value => "MO"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck2"} Monday
              %input#btncheck3.btn-check{:autocomplete => "off", "data-rrule-form-target" => "tu", :type => "checkbox", :value => "TU"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck3"} Tuesday
              %input#btncheck4.btn-check{:autocomplete => "off", "data-rrule-form-target" => "we", :type => "checkbox", :value => "WE"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck4"} Wednesday
              %input#btncheck5.btn-check{:autocomplete => "off", "data-rrule-form-target" => "th", :type => "checkbox", :value => "TH"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck5"} Thursday
              %input#btncheck6.btn-check{:autocomplete => "off", "data-rrule-form-target" => "fr", :type => "checkbox", :value => "FR"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck6"} Friday
              %input#btncheck7.btn-check{:autocomplete => "off", "data-rrule-form-target" => "sa", :type => "checkbox", :value => "SA"}/
              %label{:class => "btn #{outline_button_class}", :for => "btncheck7"} Saturday
      .daily{"data-rrule-form-target" => "daily", "data-selector" => "daily"}
        .row.mb-3
          .col
            .input-group.input-group-sm
              %span{:class => "input-group-text #{input_class}"} Every
              %input{:class => "interval form-control form-control-sm #{input_class}", "data-rrule-form-target" => "dailyInterval", :type => "number", :value => "1"}/
              %span{:class => "input-group-text #{input_class}"} day(s)
          .col
      #rrules-end
        .row.mb-3
          .col
            %select{:class => "form-select form-select-sm ends mb-3 #{input_class}", "data-rrule-form-target" => "endType"}
              %option{:value => "count"} Ends After
              %option{:value => "until"} Ends on Date
          .col
            .input-group.input-group-sm.mb-1{"data-rrule-form-target" => "endInterval"}
              %input{:class => "form-control interval #{input_class}", "data-rrule-form-target" => "endIntervalValue", :type => "number", :value => "1"}/
              %span{:class => "input-group-text #{input_class}"} instance(s)
            %input#rruleEndDate{:class => "until form-control form-control-sm date #{input_class}", "data-provide" => "datepicker", "data-rrule-form-target" => "endIntervalDate", :type => "text", :value => "#{pretty_picker_end_date(@current_user, @current_date)}"}/
    - rrule = (@recurring_event.rrule ? RecurringEvent.convert_rrule_to_tz(@recurring_event.rrule, 'UTC', current_timezone(@current_user), @recurring_event.start) : "FREQ=YEARLY;BYMONTH=#{@current_date.month};BYMONTHDAY=#{@current_date.day};COUNT=12")
    - rrule = @recurring_event.rrule if @recurring_event.rrule and @recurring_event.all_day
    %input{:class => "form-control form-control-sm mb-3 #{input_class}", "data-rrule-form-target" => "rrule", :disabled => "disabled", :type => "text", :value => rrule}/
    = form.hidden_field :rrule, data: { "rrule-form-target": "rruleHidden" }, value: rrule
  - if @recurring_event.exceptions&.any?
    .mb-3
      %label.form-label{:for => "recurring_event_exceptions"} Exceptions
      %br/
      - @recurring_event.exceptions.each do |e|
        = check_box_tag 'recurring_event[exceptions][]', e, true, "class": "form-check-input"
        = label_tag "recurring_event_exceptions_#{e}", e, class: "form-check-label"
        %br/
  #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@recurring_event.id}", "data-record-type" => "Event"}
    = form.label :description, style: "display: block", class: "form-label"
    = form.rich_text_area :description, class: "form-control" + input_class
  - if action_name == 'new' or @new.present?
    .mb-3
      = form.check_box :create_another, class: "form-check-input"
      = form.label :create_another, "Create another", class: "form-check-label"
  = form.hidden_field :month, value: @current_date.month
  = form.hidden_field :year, value: @current_date.year
  = form.hidden_field :day, value: @current_date.day
  = form.hidden_field :user_calendar, value: @user_calendar
  = hidden_field_tag "pagination[page]", "#{@page}"
  = form.hidden_field :event_month, value: @event_start&.month
  = form.hidden_field :event_year, value: @event_start&.year
  = form.hidden_field :event_day, value: @event_start&.day
  .mb-3
    = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
