- @current_user ||= current_user
- tz = @tz || current_timezone(@current_user)
- rrule = (recurring_event.all_day ? recurring_event.rrule : RecurringEvent.convert_rrule_to_tz(recurring_event.rrule, 'UTC', tz, recurring_event.start))
- if @user_calendar
  %p
    %strong Calendar:
    = link_to recurring_event.parent.title, calendar_path(recurring_event.parent), class: link_class
%p
  %strong Location:
  = recurring_event.location
- if @event_start
  %p
    %strong Start:
    = pretty_recurring_event_start_time(recurring_event, @event_start, @current_user)
  %p
    %strong End:
    = pretty_recurring_event_end_time(recurring_event, @event_end, @current_user)
- else
  %p
    %strong Start:
    = pretty_event_start_time(recurring_event, @current_user)
  %p
    %strong End:
    = pretty_event_end_time(recurring_event, @current_user)
%p
  %strong RRULE:
  = rrule
- if @event_start
  %p
    %strong Exceptions:
    = sanitize pretty_exceptions(recurring_event.exceptions, @event_start, @current_user&.time_zone)
- else
  %p
    %strong Exceptions:
    = sanitize pretty_exceptions(recurring_event.exceptions, recurring_event.start, @current_user&.time_zone)
= recurring_event.description
.mt-5.table-responsive
  %table.w-100
    %tbody
      %tr
        %td.align-bottom
          %small.update-date.text-nowrap.float-end
            Updated #{record_updated(recurring_event, @current_user)}
