= turbo_frame_tag "remote_modal" do
  #shareRecipeModal.modal.fade.modal-lg{"aria-hidden" => "true", "aria-labelledby" => "newItemRemoteModalLabel", "data-controller" => "remote-modal", "data-turbo-temporary" => "", :tabindex => "-1"}
    .modal-dialog
      %div{:class => "modal-content#{modal_class}"}
        #recurring_event_modal_header.modal-header{:style => "background-color:#{background_color}; border-color: darken(#{background_color}); color:#{text_color};"}
          #recurring_event_modal_title
            %h5#modalLiveLabel.modal-title= title
          %button{"aria-label" => "Close", :class => "btn-close#{button_close_class @calendar}", "data-bs-dismiss" => "modal", :type => "button"}
        #recurring_event_modal_body.modal-body
          = yield
          = debug(params) if Rails.env.development?
