- recurring_event ||= item
- tz = @tz || current_timezone(@current_user)
- rrule = (recurring_event.all_day ? recurring_event.rrule : RecurringEvent.convert_rrule_to_tz(recurring_event.rrule, 'UTC', tz, recurring_event.start))
- recurring_event.all_day ? date = recurring_event.first_event_start : date = recurring_event.first_event_start.in_time_zone(current_timezone(current_user))
%div{:id => "#{dom_id recurring_event}"}
  .card.card-calendar{:style => "background-color:#{recurring_event.parent.background_color}; border-color: darken(#{recurring_event.parent.background_color}); color:#{recurring_event.parent.text_color};"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-calendar3-range
      %h5.card-title
        %i.bi.bi-arrow-repeat
        - if current_user || recurring_event.all_day?
          = link_to recurring_event.summary, calendar_by_day_path(recurring_event.parent, year: date.year, month: date.month, day: date.day, anchor: recurring_event.class.to_s + "_" + recurring_event.id.to_s)
        - else
          %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
            = link_to recurring_event.summary, calendar_by_day_path(recurring_event.parent, year: date.year, month: date.month, day: date.day, anchor: recurring_event.class.to_s + "_" + recurring_event.id.to_s), "data-update-link-data-params-with-local-time-target": "link"
      %span#collaborators-list
        = link_to recurring_event.owner_handle, user_path(recurring_event.owner), class: "me-1"
    .card-body
      .mb-3
        %p
          %strong Calendar:
          = link_to recurring_event.parent.title, calendar_path(recurring_event.parent)
        %p
          %strong Location:
          = recurring_event.location
        %p
          %strong Start:
          = pretty_event_start_time(recurring_event, current_user)
        %p
          %strong End:
          = pretty_event_end_time(recurring_event, current_user)
        %p
          %strong RRULE:
          = rrule
        = truncate_actiontext_html(recurring_event.description.to_s, max_length: 300, read_more_path: calendar_path(recurring_event.parent)).html_safe
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          - if recurring_event.has_edit_privileges(current_user)
            %strong.me-1>
              = recurring_event.status
          - if current_user || recurring_event.all_day?
            = link_to calendar_by_day_path(recurring_event.parent, year: date.year, month: date.month, day: date.day, anchor: recurring_event.class.to_s + "_" + recurring_event.id.to_s) do
              %i.bi.bi-calendar3-range>
              Show recurring_event
          - else
            %span{"data-controller" => "update-link-data-params-with-local-time", "data-update-link-data-params-with-local-time-datetime" => date}
              = link_to calendar_by_day_path(recurring_event.parent, year: date.year, month: date.month, day: date.day, anchor: recurring_event.class.to_s + "_" + recurring_event.id.to_s), "data-update-link-data-params-with-local-time-target": "link" do
                %i.bi.bi-calendar3-range>
                Show recurring_event

