= turbo_stream.update "recurring_event_modal_body" do
  = render "controller_alerts"
  = render "form", event: [@calendar, @recurring_event]
  = debug(params) if Rails.env.development?
= turbo_stream.update "calendar-monthly-events" do
  - @weeks = Calendar.generate_calendar_grid(@current_date.year, @current_date.month)
  - @monthly_events = @calendar.get_events_for(@weeks.flatten, current_timezone(current_user), 5)
  - @monthly_events = Hash.new if !current_user
  = render 'calendars/monthly_events'
= turbo_stream.update "calendar-daily-events" do
  - @daily_events = Array.wrap(@calendar.get_events_for([@current_date], current_timezone(current_user))[@current_date]).paginate(page: (@page == "" ? 1 : @page), per_page: 12)
  = render 'calendars/daily_events'
