= render "recurring_event_modal", title: "New Recurring Event", background_color: @calendar.background_color, text_color: @calendar.text_color do
  = render "form", recurring_event: [@calendar, @recurring_event]
