= render "recurring_event_modal", title: @recurring_event.summary, background_color: @calendar.background_color, text_color: @calendar.text_color do
  = render "controller_alerts"
  = render @recurring_event
  %span#edit-links
    = render 'recurring_events/edit_section', record: @recurring_event
