- deck ||= item
%div{:id => "#{dom_id deck}"}
  %div{:class => "card card-deck #{card_class}"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-paperclip
      %h5.card-title
        = link_to deck.title, deck, class: "text-decoration-none text-reset"
      .float-end
        %span{:id => "deck-stars-#{deck.id}"}
          %span{:id => "#{deck.type.downcase}-star-#{deck.id}"}
            = render 'stars/star', record: deck
      %span#collaborators-list
        = render 'collaborations/owner', record: deck
    .card-body
      .mb-3
        = truncate_actiontext_html(deck.description.to_s, link_class: link_class, max_length: 300, read_more_path: deck_path(deck)).html_safe
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          - if deck.has_edit_privileges(current_user)
            %strong.me-1<>
              = deck.status
          - if deck.cards.first and deck.cards.count == 1
            = link_to deck_card_url(deck, deck.first_card), class: "me-1" + link_class do
              %i.bi.bi-book<>
              Study card
          - elsif deck.cards.first and deck.cards.count > 1
            = link_to deck_card_url(deck, deck.first_card), class: "me-1" + link_class do
              %i.bi.bi-book<>
              Study #{deck.cards.count.to_s} cards
          - else
            %span.me-1
              No cards
          = link_to deck, class: "me-1" + link_class do
            %i.bi.bi-card-text<>
            Show deck
