%div{:id => "#{dom_id deck}"}
  %div{:class => "card card-deck #{card_class}"}
    .card-header
      .float-end.ms-1
        %i.bi.bi-paperclip
      %h5.card-title
        = deck.title
      .float-end
        %span{:id => "deck-stars-#{deck.id}"}
          %span{:id => "#{deck.type.downcase}-stars-show-#{deck.id}"}
            = render 'stars/stars_show', record: deck
      %span#collaborators-list
        = render 'collaborations/collaborators_list', record: deck
    .card-body
      .mb-3
        = deck.description
      - if action_name == 'show' and controller_name == 'decks'
        .mt-5.table-responsive
          %table.w-100
            %tbody
              %tr
                %td
                  %small
                    %span#tags-list
                      = render 'tags/item_tags_list', record: deck
                %td.align-bottom
                  %small{:class => "update-date text-nowrap float-end#{updated_date_text_class}"}
                    Updated #{item_updated(deck)}
    .card-footer
      %small
        .mb-2.text-center{"data-turbolinks" => "false"}
          %span#edit-links
            = render 'decks/edit_section', record: deck
          - if deck.cards.first and deck.cards.count == 1
            = link_to deck_card_url(deck, deck.first_card), class: link_class do
              %i.bi.bi-book>
              Study card
          - elsif deck.cards.first and deck.cards.count > 1
            = link_to deck_card_url(deck, deck.first_card), class: link_class do
              %i.bi.bi-book>
              Study #{deck.cards.count.to_s} cards
          - else
            %span.me-1
              No cards
