- if record.has_edit_privileges(current_user)
  %strong.me-1
    = record.status
  = link_to edit_deck_path(record), class: "me-1" + link_class do
    %i.bi.bi-pencil-fill<>
    Edit deck
  - if record.cards.present?
    = link_to deck_cards_path(record), class: "me-1" + link_class do
      %i.bi.bi-list<>
      List cards
  = link_to new_deck_card_path(record), class: "me-1" + link_class do
    %i.bi.bi-plus<>
    Add card
