%div{:class => "card card-deck #{card_class}"}
  .card-body
    = form_with(model: deck) do |form|
      = render 'error_messages', object: deck, object_name: 'this deck'
      = form.hidden_field :whodunnit, value: current_user.id
      .mb-3
        = form.label :title, style: "display: block", class: "form-label"
        = form.text_field :title, class: "form-control form-control-sm" + input_class
      .mb-3
        = form.label :visibility, style: "display: block", class: "form-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 0, class: "form-check-input", :checked => true
          = form.label "Private", for: "deck_visibility_0", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 1, class: "form-check-input"
          = form.label "Internal", for: "deck_visibility_1", style: "display: block", class: "form-check-label"
        .form-check.form-check-inline
          = form.radio_button :visibility, 2, class: "form-check-input"
          = form.label "Public", for: "deck_visibility_2", style: "display: block", class: "form-check-label"
      = render 'collaborations/item_form', record: deck, form: form
      .mb-3
        = form.label :description, style: "display: block", class: "form-label"
        = form.text_area :description, class: "form-control form-control-sm" + input_class
      = render 'tags/item_form', record: deck, form: form
      - if action_name == 'new'
        .mb-3
          = form.check_box :create_another, class: "form-check-input"
          = form.label :create_another, "Create Card", class: "form-check-label"
      %div
        = form.submit "Submit", class: "btn btn-primary btn-sm", id: "edit-btn"
