- provide(:title, 'Edit Deck')
.container-xxl.g-0
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-10.col-xl-8.col-xxl-8
      %span#edit-notice
        = turbo_stream_from @deck, "edit_notice"
      %h1 Edit Deck
      = render "form", deck: @deck
      %br/
      - if @deck.has_owner_privileges(current_user)
        .mb-3
          = button_to "Delete Deck", @deck, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger btn-sm"
      .mb-3
        = link_to @deck, class: "me-1" + link_class do
          %i.bi.bi-card-text<>
          Show deck
