- provide(:title, @title)
%h1= @title
.mt-3.mb-3
  - @tags.each do |tag|
    = link_to tag.name, tag, class: 'btn btn-sm btn-primary me-1 mb-1' + link_class
#decks.row.grid
  - @decks.each do |deck|
    .col-sm-6.col-lg-4.col-xxl-3.mb-4.grid-item
      = render 'deck_card', deck: deck
= will_paginate @decks, list_classes: %w(pagination pagination-sm justify-content-center)
