- if @notice
  .alert.alert-primary.alert-dismissible{:role => "alert"}
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    = @notice
- elsif @alert
  .alert.alert-warning.alert-dismissible{:role => "alert"}
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    = @alert
