- if object.errors.any?
  #error_explanation.alert.alert-warning.alert-dismissible
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    %h4
      = pluralize(object.errors.count, "error")
      prohibited #{object_name} from being saved:
    %ul
      - object.errors.each do |error|
        %li= error.full_message
