- flash.each do |name, msg|
  - if name == "alert"
    .d-flex.justify-content-end
      %span.alert.alert-warning.alert-dismissible{:role => "alert"}
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
        = msg
  - elsif name == "timedout"
  - else
    .d-flex.justify-content-end
      %span.alert.alert-primary.alert-dismissible{:role => "alert"}
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
        = msg
