%footer.footer.mt-auto.py-3.px-2
  .container-fluid
    %hr.border.border-secondary.border-1.opacity-50/
    %small
      %a{:class => link_class, :href => "https://gitlab.com/endtoendpaper/study-notes"} Study Notes Application
      by
      %a{:class => link_class, :href => "https://endtoendpaper.com/"} Endtoendpaper
      .float-end
        = link_to "Users", users_path, class: link_class
        - if current_user
          | #{link_to "Groups", groups_path, class: link_class}
          - if SiteSetting.chat?
            |
            = link_to chats_path, class: link_class + "position-relative", data: { turbo_frame: 'offcanvas' } do
              Chat
              = turbo_stream_from current_user, "unread_msg_count_footer"
              %span#unread_msg_count_footer
                = render 'user_unread_msg_count'
