%nav{:class => "navbar navbar-expand-lg navbar-dark #{navbar_class}  mb-3"}
  .container-fluid.ms-2.me-2
    %span#logo_image
      = link_to image_tag(logo_navbar_path), root_path, class: 'navbar-brand' if SiteSetting.logo.attached?
    = link_to SiteSetting.site_name, root_path, class: 'navbar-brand' if SiteSetting.display_site_name?
    %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'About', about_path, class: 'nav-link' + active_link_class(about_path)
        - if user_signed_in?
          %li.nav-item
            = link_to 'Help', help_path, class: 'nav-link' + active_link_class(help_path)
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      - unless current_page?(search_path)
        = form_tag(search_path, method: :get, class: 'row') do
          .input-group.me-5
            = text_field_tag(:query, params[:query], class: 'form-control form-control-sm custom-placeholder' + input_class, placeholder: "Search")
            = button_tag nil, class: 'btn btn-outline-light btn-sm' do
              %i.bi.bi-search
      %ul.navbar-nav
        - if !current_page?(search_path)
          %li.nav-item.nav-link.ps-3.d-none.d-lg-block.d-xl-block
            |
        - if !user_signed_in?
          %li.nav-item
            = link_to new_user_session_path, class: 'nav-link' + active_link_class(new_user_session_path) do
              %i.bi.bi-person-circle
              Login
        - else
          - if current_user&.admin?
            %li.nav-item.dropdown.d-none.d-lg-block.d-xl-block
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.bi.bi-gear-fill
              %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
                %li= link_to 'Site Settings', edit_site_setting_path(SiteSetting.id), class: 'dropdown-item'
                - if SiteSetting.allow_users_to_contact_admins?
                  %li= link_to 'Support Issues', support_issues_path, class: 'dropdown-item'
                %li= link_to 'User Management', user_management_path, class: 'dropdown-item'
            %li.nav-item.dropdown.d-lg-none.d-xl-none
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.bi.bi-gear-fill
                Admin Tools
              %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
                %li= link_to 'Site Settings', edit_site_setting_path(SiteSetting.id), class: 'dropdown-item'
                - if SiteSetting.allow_users_to_contact_admins?
                  %li= link_to 'Support Issues', support_issues_path, class: 'dropdown-item'
                %li= link_to 'User Management', users_path, class: 'dropdown-item'
          %li.nav-item.dropdown.d-none.d-lg-block.d-xl-block
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "", :role => "button"}
              %i.bi.bi-plus-square-fill
            %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
              - if SiteSetting.chat?
                = link_to chats_path, class: "dropdown-item", data: { turbo_frame: 'offcanvas' } do
                  %span.position-relative
                    New Chat
                    \#{turbo_stream_from current_user, "unread_msg_count_header"}
                    %span#unread_msg_count_header
                      = render 'user_unread_msg_count'
              %li= link_to 'New Calendar', new_calendar_path, class: 'dropdown-item'
              %li= link_to 'New Deck', new_deck_path, class: 'dropdown-item'
              %li= link_to 'New Group', new_group_path, class: 'dropdown-item'
              %li= link_to 'New Note', new_note_path, class: 'dropdown-item'
          %li.nav-item.dropdown.d-lg-none.d-xl-none
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "", :role => "button"}
              %i.bi.bi-plus-square-fill
              Create
            %ul.dropdown-menu.dropdown-menu-end{"aria-labelledby": "navbarDropdownMenuLink", class: dropdown_class }
              - if SiteSetting.chat?
                = link_to chats_path, class: "dropdown-item", data: { turbo_frame: 'offcanvas' } do
                  %span.position-relative
                    New Chat
                    \#{turbo_stream_from current_user, "unread_msg_count_header"}
                    %span#unread_msg_count_header
                      = render 'user_unread_msg_count'
              %li= link_to 'New Calendar', new_calendar_path, class: 'dropdown-item'
              %li= link_to 'New Deck', new_deck_path, class: 'dropdown-item'
              %li= link_to 'New Group', new_group_path, class: 'dropdown-item'
              %li= link_to 'New Note', new_note_path, class: 'dropdown-item'
          %li.nav-item.dropdown.d-none.d-lg-block.d-xl-block
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "", :role => "button"}
              - if current_user&.avatar&.attached?
                %span#avatar_image= image_tag(current_user.avatar.variant(:tiny))
              - elsif SiteSetting.default_avatar.attached?
                %span#default_avatar_image= image_tag(default_avatar_path(:tiny))
              - else
                %i.bi.bi-person-circle
            %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
              %li
                %a.dropdown-item{:href => "#{user_path(current_user.username)}"}
                  Logged in as
                  %strong#current-username= current_user.username
              %li
                %hr.dropdown-divider/
              %li= link_to 'My Calendars', show_items_user_path(current_user, 'calendars'), class: 'dropdown-item'
              %li= link_to 'My Decks', show_items_user_path(current_user, 'decks'), class: 'dropdown-item'
              %li= link_to 'My Events', user_calendar_path, class: 'dropdown-item'
              %li= link_to 'My Groups', show_groups_user_path(current_user), class: 'dropdown-item'
              %li= link_to 'My Notes', show_items_user_path(current_user, 'notes'), class: 'dropdown-item'
              %li= link_to 'My Stars', show_stars_user_path(current_user), class: 'dropdown-item'
              %li
                %hr.dropdown-divider/
              %li
                %div{"data-turbo" => "false"}= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          %li.nav-item.dropdown.d-lg-none.d-xl-none
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "", :role => "button"}
              - if current_user&.avatar&.attached?
                %span#mobile_avatar_image= image_tag(current_user.avatar.variant(:tiny))
                My Account
              - elsif SiteSetting.default_avatar.attached?
                %span#mobile_default_avatar_image= image_tag(default_avatar_path(:tiny))
                My Account
              - else
                %i.bi.bi-person-circle
                My Account
            %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
              %li
                %a.dropdown-item{:href => "#{user_path(current_user.username)}"}
                  Logged in as
                  %strong#current-username= current_user.username
              %li
                %hr.dropdown-divider/
              %li= link_to 'My Calendars', show_items_user_path(current_user, 'calendars'), class: 'dropdown-item'
              %li= link_to 'My Decks', show_items_user_path(current_user, 'decks'), class: 'dropdown-item'
              %li= link_to 'My Events', user_calendar_path, class: 'dropdown-item'
              %li= link_to 'My Groups', show_groups_user_path(current_user), class: 'dropdown-item'
              %li= link_to 'My Notes', show_items_user_path(current_user, 'notes'), class: 'dropdown-item'
              %li= link_to 'My Stars', show_stars_user_path(current_user), class: 'dropdown-item'
              %li
                %hr.dropdown-divider/
              %li
                %div{"data-turbo" => "false"}= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
