- if Rails.env.development? && user_masquerade?
  .alert.alert-warning.text-center{style: "margin-bottom: 15px"}
    You're logged in as #{current_user.handle}.
    = link_to back_masquerade_path(current_user) do
      Logout
