= turbo_frame_tag "offcanvas" do
  #offcanvasRight{"aria-labelledby" => "offcanvasRightLabel", :class => "offcanvas offcanvas-end show #{offcanvas_class}%>", "data-bs-scroll" => "true", "data-controller" => "offcanvas", :tabindex => "-1"}
    .offcanvas-header
      %h5#offcanvasRightLabel.offcanvas-title= title
      %button{"aria-label" => "Close", :class => "btn-close#{btn_close_class}", "data-bs-dismiss" => "offcanvas", :type => "button"}
    .offcanvas-body.h-100
      = yield
