= turbo_frame_tag "remote_modal" do
  #shareRecipeModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newItemRemoteModalLabel", "data-controller" => "remote-modal", "data-turbo-temporary" => "", :tabindex => "-1"}
    .modal-dialog
      %div{:class => "modal-content#{modal_class}"}
        .modal-header
          %h5#modalLiveLabel.modal-title= title
          %button{"aria-label" => "Close", :class => "btn-close#{button_close_class}", "data-bs-dismiss" => "modal", :type => "button"}
        #remote_modal_body.modal-body
          = yield
          = debug(params) if Rails.env.development?
